@using DasBlog.Core.Common
@model List<MonthViewViewModel>

@{
    var previous = (DateTime)ViewBag.PreviousMonth;
    var current = (DateTime)ViewBag.CurrentMonth;
    var next = (DateTime)ViewBag.NextMonth;
    var css = string.Empty;
}

@{
    ViewData["Title"] = Constants.ArchivePageTitle;
}

<h2>@ViewData["Title"]</h2>

<span class="dbc-span-month-control">
    <span class="dbc-span-month-control-older">
        <a asp-controller="Archive" asp-action="Archive" asp-route-year="@previous.Year" asp-route-month="@previous.Month">&lt;&lt;</a>
    </span>

    <span class="font-weight-bold mb-0"> @($"{current:MMMM yyyy}") </span>

    <span class="dbc-span-month-control-newer">
        <a asp-controller="Archive" asp-action="Archive" asp-route-year="@next.Year" asp-route-month="@next.Month"> &gt;&gt;</a>
    </span>
</span>

<div class="calendar shadow bg-white p-2">
    <div class="d-flex align-items-center">
        <i class="fa fa-calendar fa-3x mr-3"></i>
    </div>


    <ol class="day-names list-unstyled">
        <li class="font-weight-bold text-uppercase">Sun</li>
        <li class="font-weight-bold text-uppercase">Mon</li>
        <li class="font-weight-bold text-uppercase">Tue</li>
        <li class="font-weight-bold text-uppercase">Wed</li>
        <li class="font-weight-bold text-uppercase">Thu</li>
        <li class="font-weight-bold text-uppercase">Fri</li>
        <li class="font-weight-bold text-uppercase">Sat</li>
    </ol>

    <ol class="days list-unstyled">
        @foreach (var mvvm in Model)
        {
            @foreach (var dayentry in mvvm.MonthEntries)
            {
                @if (current.Month == dayentry.Key.Month)
                {
                    css = "";
                }
                else
                {
                    css = "outside";
                }

                <li class="@css">
                    <div class="date">
                        @if (dayentry.Key.Day == 1)
                        {
                            @($"{dayentry.Key:MMM d}")
                        }
                        else
                        {
                            @dayentry.Key.Day
                        }
                    </div>

                    @foreach (var entry in dayentry.Value)
                    {
                        <div>
                            <title-link post="@entry" css="event bg-info" />
                        </div>
                    }
                </li>
            }
        }
    </ol>
</div>


