@using DasBlog.Web.Models.AdminViewModels

@inject IDasBlogSettings dasBlogSettings
@model DasBlogSettingsViewModel

<div class="col-md-3 form-check-inline">
    @Html.LabelFor(m => @Model.SiteConfig.RssDayCount, null, new { @class = "form-label" })
    @Html.TextBoxFor(m => @Model.SiteConfig.RssDayCount, null, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.SiteConfig.RssDayCount, null, new { @class = "text-danger" })
</div>

<div class="col-md-3 form-check-inline">
    @Html.LabelFor(m => @Model.SiteConfig.RssMainEntryCount, null, new { @class = "form-label" })
    @Html.TextBoxFor(m => @Model.SiteConfig.RssMainEntryCount, null, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.SiteConfig.RssMainEntryCount, null, new { @class = "text-danger" })
</div>

<div class="col-md-3 form-check-inline">
    @Html.LabelFor(m => @Model.SiteConfig.RssEntryCount, null, new { @class = "form-label" })
    @Html.TextBoxFor(m => @Model.SiteConfig.RssEntryCount, null, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.SiteConfig.RssEntryCount, null, new { @class = "text-danger" })

</div>

<div class="col-md-3">
    @Html.CheckBoxFor(m => @Model.SiteConfig.AlwaysIncludeContentInRSS, new { @class = "form-check-input" })
    @Html.LabelFor(m => @Model.SiteConfig.AlwaysIncludeContentInRSS, null, new { @class = "col-label " }) 
</div>

<div class="col-md-3">
    @Html.CheckBoxFor(m => @Model.SiteConfig.EnableRssItemFooters, new { @class = "form-check-input" })
    @Html.LabelFor(m => @Model.SiteConfig.EnableRssItemFooters, null, new { @class = "col-check-label"})
</div>

<div class="col-md-10">
    @Html.LabelFor(m => @Model.SiteConfig.RssItemFooter, null, new { @class = "col-form-label" })
    @Html.TextBoxFor(m => @Model.SiteConfig.RssItemFooter, null, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.SiteConfig.RssItemFooter, null, new { @class = "text-danger" })
</div>