@using DasBlog.Web.Models.AdminViewModels

@inject IDasBlogSettings dasBlogSettings
@model DasBlogSettingsViewModel

<div class="form-check row mb-3">
    <div class="col-sm-10 offset-sm-2">
        <div class="col-sm-2">
            @Html.CheckBoxFor(m => @Model.SiteConfig.ShowCommentCount, new { @class = "form-check-input" })
        </div>
        @Html.LabelFor(m => @Model.SiteConfig.ShowCommentCount, null, new { @class = "col-check-label col-sm-10" })
    </div>
</div>

<div class="form-check row mb-3">
    <div class="col-sm-10 offset-sm-2">
        <div class="col-sm-2">
            @Html.CheckBoxFor(m => @Model.SiteConfig.EnableTitlePermaLinkUnique, new { @class = "form-check-input form-check-input" })
        </div>
        @Html.LabelFor(m => @Model.SiteConfig.EnableTitlePermaLinkUnique, null, new { @class = "col-check-label col-sm-10" })
    </div>
</div>

<div class="form-group row mb-3">

    @Html.LabelFor(m => @Model.SiteConfig.TitlePermalinkSpaceReplacement, null, new { @class = "col-form-label col-sm-2" })

    <div class="col-sm-3">
        @Html.DropDownListFor(n => n.SiteConfig.TitlePermalinkSpaceReplacement,
            new SelectList(new SpaceReplacementViewModel().Init(), "Name", "Name"),
            new { @class = "form-select col-1" })
    </div>
    @Html.ValidationMessageFor(m => m.SiteConfig.TitlePermalinkSpaceReplacement, null, new { @class = "text-danger" })

</div>

<div class="form-check row mb-3">
    <div class="col-sm-10 offset-sm-2">
        <div class="col-sm-2">
            @Html.CheckBoxFor(m => @Model.SiteConfig.CookieConsentEnabled, new { @class = "form-check-input form-check-input" })
        </div>
        @Html.LabelFor(m => @Model.SiteConfig.CookieConsentEnabled, null, new { @class = "col-check-label col-sm-10" })
    </div>
</div>

<div class="form-check row mb-3">
    <div class="col-sm-10 offset-sm-2">
        <div class="col-sm-2">
            @Html.CheckBoxFor(m => @Model.SiteConfig.UseAspxExtension, new { @class = "form-check-input form-check-input" })
        </div>
        @Html.LabelFor(m => @Model.SiteConfig.UseAspxExtension, null, new { @class = "col-check-label col-sm-10" })
    </div>
</div>