@using DasBlog.Web.Models.AdminViewModels

@inject IDasBlogSettings dasBlogSettings
@model DasBlogSettingsViewModel

<div class="row gy-2 gx-3 align-items-md-start">
    <div class="col-sm-4">
        @Html.LabelFor(m => @Model.SiteConfig.MastodonServerUrl, null, new { @class = "col-form-label" })
        @Html.TextBoxFor(m => @Model.SiteConfig.MastodonServerUrl, null, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.SiteConfig.MastodonServerUrl, null, new { @class = "text-danger" })
    </div>
    <div class="col-sm-4">
        @Html.LabelFor(m => @Model.SiteConfig.MastodonAccount, null, new { @class = "col-form-label" })
        @Html.TextBoxFor(m => @Model.SiteConfig.MastodonAccount, null, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.SiteConfig.MastodonAccount, null, new { @class = "text-danger" })
    </div> 
</div>

<div class="row gy-2 gx-3 align-items-md-start">
    <div class="col-sm-4">
        @Html.LabelFor(m => @Model.MetaConfig.TwitterSite, null, new { @class = "col-form-label" })
        @Html.TextBoxFor(m => @Model.MetaConfig.TwitterSite, null, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MetaConfig.TwitterSite, null, new { @class = "text-danger" })
    </div>
    <div class="col-sm-4">
        @Html.LabelFor(m => @Model.MetaConfig.TwitterCreator, null, new { @class = "col-form-label" })
        @Html.TextBoxFor(m => @Model.MetaConfig.TwitterCreator, null, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MetaConfig.TwitterCreator, null, new { @class = "text-danger" })
    </div>
</div>

<div class="row gy-2 gx-3 align-items-md-start">
    <div class="col-sm-4">
        @Html.LabelFor(m => @Model.MetaConfig.TwitterCard, null, new { @class = "col-form-label" })
        @Html.DropDownListFor(n => n.MetaConfig.TwitterCard,
                new SelectList(new TwitterCardViewModel().Init(), "Id", "Name"),
                new { @class = "form-select col-3" })
        @Html.ValidationMessageFor(m => m.MetaConfig.TwitterCard, null, new { @class = "text-danger" })
    </div>
    <div class="col-sm-8">
        @Html.LabelFor(m => @Model.MetaConfig.TwitterImage, null, new { @class = "col-form-label" })
        @Html.TextBoxFor(m => @Model.MetaConfig.TwitterImage, null, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MetaConfig.TwitterImage, null, new { @class = "text-danger" })
    </div>
</div>

<div class="row gy-2 gx-3 align-items-md-start">
    <div class="col-sm-4">
        @Html.LabelFor(m => @Model.MetaConfig.GoogleAnalyticsID, null, new { @class = "col-form-label" })
        @Html.TextBoxFor(m => @Model.MetaConfig.GoogleAnalyticsID, null, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MetaConfig.GoogleAnalyticsID, null, new { @class = "text-danger" })
    </div>
</div>