@using DasBlog.Web.Models.AdminViewModels

@inject IDasBlogSettings dasBlogSettings
@model DasBlogSettingsViewModel

<div class="row gy-2 gx-3 align-items-md-start">
    <div class="col-sm-4">
        @Html.CheckBoxFor(m => @Model.SiteConfig.EnableBloggerApi, new { @class = "form-check-input" })
        @Html.LabelFor(m => @Model.SiteConfig.EnableBloggerApi, null, new { @class = "col-check-label" })
    </div>
</div>

<div class="row gy-2 gx-3 align-items-md-start">
    <div class="col-sm-4">
        @Html.LabelFor(m => @Model.SiteConfig.PreferredBloggingAPI, null, new { @class = "col-form-label" })
        @Html.DropDownListFor(n => n.SiteConfig.PreferredBloggingAPI,
                new SelectList(new BloggerAPIViewModel().Init(), "Name", "Name"),
                new { @class = "form-select" })
    </div>
</div>

<div class="row gy-2 gx-3 align-items-md-start">
    <div class="col-sm-4">
        @Html.LabelFor(m => @Model.SiteConfig.EntryEditControl, null, new { @class = "col-form-label" })
        @Html.DropDownListFor(n => n.SiteConfig.EntryEditControl,
                new SelectList(new EntryEditControlViewModel().Init(), "Name", "Name"),
                new { @class = "form-select col-3" })
        @Html.ValidationMessageFor(m => m.SiteConfig.EntryEditControl, null, new { @class = "text-danger" })
    </div>
</div>

<div class="row gy-2 gx-3 align-items-md-start">
    <div class="col-sm-4">
        @Html.LabelFor(m => @Model.SiteConfig.TinyMCEApiKey, null, new { @class = "col-form-label" })
        @Html.TextBoxFor(m => @Model.SiteConfig.TinyMCEApiKey, null, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.SiteConfig.TinyMCEApiKey, null, new { @class = "text-danger" })
    </div>
</div>
