@using DasBlog.Web.Models.AdminViewModels

@inject IDasBlogSettings dasBlogSettings
@model DasBlogSettingsViewModel

<div class="row gy-2 gx-3 align-items-md-start">
    <div class="col-sm-12">
        @Html.LabelFor(m => @Model.MetaConfig.MetaDescription, null, new { @class = "col-form-label" })
        @Html.TextBoxFor(m => @Model.MetaConfig.MetaDescription, null, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MetaConfig.MetaDescription, null, new { @class = "text-danger" })
    </div>
</div>

<div class="row gy-2 gx-3 align-items-md-start">
    <div class="col-sm-12">
        @Html.LabelFor(m => @Model.MetaConfig.MetaKeywords, null, new { @class = "col-form-label" })
        @Html.TextBoxFor(m => @Model.MetaConfig.MetaKeywords, null, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MetaConfig.MetaKeywords, null, new { @class = "text-danger" })
    </div>
</div>