@using DasBlog.Web.Models.AdminViewModels

@inject IDasBlogSettings dasBlogSettings
@model DasBlogSettingsViewModel

<div class="row gy-2 gx-3 align-items-md-start mb-3">
    <div class="col-sm-2">
        <div class="form-floating">
            @Html.DropDownListFor(n => n.SiteConfig.TitlePermalinkSpaceReplacement,
                new SelectList(new SpaceReplacementViewModel().Init(), "Name", "Name"),
                new { @class = "form-select", id = "titlePermalinkSpaceReplacement" })
            @Html.LabelFor(m => @Model.SiteConfig.TitlePermalinkSpaceReplacement, null, new { @class = "form-label", @for = "titlePermalinkSpaceReplacement" })
        </div>
        @Html.ValidationMessageFor(m => m.SiteConfig.TitlePermalinkSpaceReplacement, null, new { @class = "text-danger" })
    </div>
</div>

<div class="row gy-2 gx-3 align-items-md-start mb-3">
    <div class="col-sm-2">
        @Html.CheckBoxFor(m => @Model.SiteConfig.EnableTitlePermaLinkUnique, new { @class = "form-check-input" })
        @Html.LabelFor(m => @Model.SiteConfig.EnableTitlePermaLinkUnique, null, new { @class = "col-check-label" })
    </div>
</div>

<div class="row gy-2 gx-3 align-items-md-start mb-3">
    <div class="col-sm-4">
        @Html.CheckBoxFor(m => @Model.SiteConfig.ShowCommentCount, new { @class = "form-check-input" })
        @Html.LabelFor(m => @Model.SiteConfig.ShowCommentCount, null, new { @class = "col-check-label" })
    </div>
</div>

<div class="row gy-2 gx-3 align-items-md-start mb-3">
    <div class="col-sm-4">
        @Html.CheckBoxFor(m => @Model.SiteConfig.UseAspxExtension, new { @class = "form-check-input" })
        @Html.LabelFor(m => @Model.SiteConfig.UseAspxExtension, null, new { @class = "col-check-label" })
    </div>
</div>

<div class="row gy-2 gx-3 align-items-md-start mb-3">
    <div class="col-sm-4">
        @Html.CheckBoxFor(m => @Model.SiteConfig.CookieConsentEnabled, new { @class = "form-check-input" })
        @Html.LabelFor(m => @Model.SiteConfig.CookieConsentEnabled, null, new { @class = "col-check-label" })
    </div>
</div>


