@model PostViewModel
@{
    ViewData["Title"] = @Model.Title;
}

<div class="post">
    <div class="row post-title">
        <div class="col-md-12 mb-6">
            <h2><post-title-link post=@Model /> </h2>
            <small class="text-muted"><post-created-date post="@Model" /></small>
        </div>
    </div>

    <div class="row post-body">
        <div class="col-md-12 mb-6">
            <post-content post="@Model" />
        </div>
    </div>
    <div class="row post-footer">
        <div class="col-md-12 mb-6">
            Categories: <post-categories-list post="@Model" >, </post-categories-list>
        </div>
        <div class="col-md-12 mb-6">
            Share on <post-to-twitter post="@Model">Twitter</post-to-twitter>, <post-to-reddit post="@Model">Reddit</post-to-reddit> or <post-to-facebook post="@Model">Facebook</post-to-facebook>
        </div>
        <div dasblog-authorized class="col-md-12 mb-6">
            <post-edit-link post="@Model" />
            <span style="display:inline-block; width: 1em;"></span>
            <post-delete-link post="@Model" />
        </div>
        <div class="col-md-12 mb-6">
            <post-created-date post="@Model" />
        </div>
    </div>
    <partial name="_CommentBlockPartial" model="@Model.Comments" />
</div>

<hr />
