@using DasBlog.Services;
@using DasBlog.Core.Common;
@using System.Net;
@inject IDasBlogSettings dasBlogSettings
@model DasBlog.Web.Models.BlogViewModels.CategoryListViewModel

@{
    ViewData["Title"] = Constants.CategoryPageTitle;
}

<h1>@ViewData["Title"]</h1>
<hr />

<div class="container">
    <div class="row">
        <div class="col-12">
            <p class="mb-3">
                @foreach (var item in Model.Categories)
                {
                    <span class="me-2">
                        <a href="@dasBlogSettings.RelativeToRoot("category#" + WebUtility.UrlEncode(item.Key))">@item.Key (@item.Value.Count())</a>
                        <span class="text-muted">&#9679;</span>
                    </span>
                }
            </p>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-12">
            @foreach (var category in Model.Categories)
            {
                <div class="mb-4" id="@WebUtility.UrlEncode(category.Key)">
                    <h4>
                        <a href="category/@dasBlogSettings.CompressTitle(category.Key)" class="text-decoration-none">
                            @category.Key (@category.Value.Count())
                        </a>
                    </h4>
                    <ul class="list-unstyled ms-3">
                        @foreach (var post in category.Value)
                        {
                            <li class="mb-2">
                                <a href="@dasBlogSettings.RelativeToRoot(post.BlogId)">@post.BlogTitle</a>
                            </li>
                        }
                    </ul>
                </div>
            }
        </div>
    </div>
</div>
