@using DasBlog.Core;
@using DasBlog.Core.Common
@inject IDasBlogSettings dasBlogSettings
@model DasBlog.Web.Models.BlogViewModels.CategoryListViewModel

@{
    ViewData["Title"] = Constants.CategoryPageTitle;
}

<div id="@Constants.CategoryPageTestId" class="@Constants.PageTestIdClass"></div>

<div class="container">
    <div class="row">
        <p>
            @foreach (var item in Model.Categories)
            {
                <span>@item.Key (@item.Value.Count())&nbsp;&#9679;</span>
            }
        </p>
    </div>
    <hr />
    <div>
        @foreach (var category in Model.Categories)
        {
            <h4>@category.Key (@category.Value.Count())</h4>
            @foreach (var post in category.Value)
            {
                <div>
                    <a href="@dasBlogSettings.RelativeToRoot(@dasBlogSettings.GetPermaTitle(post.BlogId))">@post.BlogTitle</a><br />                    
                </div>
            }
        }
    </div>

</div>
