@using DasBlog.Services;
@using DasBlog.Core.Common;
@using System.Net;
@inject IDasBlogSettings dasBlogSettings
@model DasBlog.Web.Models.BlogViewModels.CategoryListViewModel

@{
    ViewData["Title"] = Constants.CategoryPageTitle;
}

<div class="container">
    <div class="row">
        <p>
            @foreach (var item in Model.Categories)
            {
                <span>
                    <a href="@dasBlogSettings.RelativeToRoot("category#" + WebUtility.UrlEncode(item.Key))">@item.Key (@item.Value.Count())</a>&nbsp; &#9679;
                </span>
            }
        </p>
    </div>
    <hr />
    <div>
        @foreach (var category in Model.Categories)
        {
            <a name="@WebUtility.UrlEncode(category.Key)" href="category/@dasBlogSettings.CompressTitle(category.Key)" ><h4>@category.Key (@category.Value.Count())</h4></a>
            @foreach (var post in category.Value)
            {
                <div>
                    <a href="@dasBlogSettings.RelativeToRoot(post.BlogId)">@post.BlogTitle</a><br />
                </div>
            }
        }
    </div>

</div>
