@using DasBlog.Core;
@using DasBlog.Core.Common;
@using System.Text.Encodings.Web;
@inject IDasBlogSettings dasBlogSettings
@model DasBlog.Web.Models.BlogViewModels.CategoryListViewModel

@{
    ViewData["Title"] = Constants.CategoryPageTitle;
}

<div id="@Constants.CategoryPageTestId" class="@Constants.PageTestIdClass"></div>

<div class="container">
    <div class="row">
        <p>
            @foreach (var item in Model.Categories)
            {
                <span>
                    <a href="@dasBlogSettings.RelativeToRoot("category#" + UrlEncoder.Default.Encode(item.Key))">@item.Key (@item.Value.Count())</a>&nbsp; &#9679;
                </span>
            }
        </p>
    </div>
    <hr />
    <div>
        @foreach (var category in Model.Categories)
        {
            <a name="@UrlEncoder.Default.Encode(category.Key)"><h4>@category.Key (@category.Value.Count())</h4></a>
            @foreach (var post in category.Value)
            {
                <div>
                    <a href="@dasBlogSettings.RelativeToRoot(@dasBlogSettings.GetPermaTitle(post.BlogId))">@post.BlogTitle</a><br />
                </div>
            }
        }
    </div>

</div>
