@using DasBlog.Core;
@using DasBlog.Core.Common
@inject IDasBlogSettings dasBlogSettings

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["PageTitle"]</title>
    <meta name="description" content="@ViewData["Description"]" />
    <meta name="keywords" content="@ViewData["Keywords"]" />
    <meta name="author" content="@ViewData["Author"]" />

    <meta name="copyright" content="@dasBlogSettings.SiteConfiguration.Copyright" />

    <link rel="alternate" type="application/rss+xml" title="@dasBlogSettings.SiteConfiguration.Description" href="@dasBlogSettings.RssUrl" />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="@dasBlogSettings.RsdUrl" />
    <link rel="microsummary" type="application/x.microsummary+xml" href="@dasBlogSettings.MicroSummaryUrl" />

    <link rel="shortcut icon" href="@dasBlogSettings.ShortCutIconUrl" />

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </environment>

    <link rel="stylesheet" href="@dasBlogSettings.ThemeCssUrl" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>

<body>
    <div id="@Constants.NavBarId" class="navbar navbar-dark navbar-expand-lg sticky-top bg-dark">
        <div class="navbar-collapse">
            @* navbar-collapse is required to stop the div putting the site title above the other nav items *@
            @* removing "navbar" from above class to allow the login/logout div to right justify *@
            @* the docs say that fixed-top belongs to a tag with a nav class - apparently navbar is ok too *@
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><site-title /></a>
            <div class="container">
                <div>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item nav-item-active"><a class="nav-link" asp-area="" id="@Constants.HomeNavId" asp-controller="home" asp-action="index">Home</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" id="@Constants.CategoryNavId" asp-controller="category" asp-action="category">Category</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" id="@Constants.ArchiveNavId" asp-controller="archive" asp-action="archive">Archive</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="feed" asp-action="rss">Subscribe</a></li>
                        <li class="nav-item" dasblog-authorized><a class="nav-link" asp-area="" asp-controller="post" asp-action="create">Create Post</a></li>
                        <li class="nav-item" dasblog-authorized><a class="nav-link" asp-area="" asp-controller="users" asp-action="index">Users</a></li>
                        <li class="nav-item" dasblog-authorized><a class="nav-link" asp-area="" asp-controller="Activity" asp-action="ActivityList">Activity</a></li>
                    </ul>
                </div>
            </div>
            <div class="navbar navbar-collapse  col-md-offset-10 col-md-2">
                @* could not make this go further right (or perhaps it already was fully justified on an indented column *@
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" dasblog-unauthorized><a class="nav-link" asp-controller="account" asp-action="login">Log in</a></li>
                    <li class="nav-item" dasblog-authorized><a class="nav-link" asp-controller="account" asp-action="logout">Log out</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">

        @RenderBody()

        <footer>
            <p>&copy; @DateTime.Now.Year - @dasBlogSettings.SiteConfiguration.Copyright</p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.3.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
