@using DasBlog.Core.Common
@using Microsoft.AspNetCore.Identity
@using DasBlog.Web.Identity
@inject UserManager<DasBlogUser> UserManager
<div id="@Constants.NavBarId" class="navbar navbar-dark navbar-expand-lg sticky-top bg-dark">
    <div class="navbar-collapse">
            @* navbar-collapse is required to stop the div putting the site title above the other nav items *@
            @* removing "navbar" from above class to allow the login/logout div to right justify *@
            @* the docs say that fixed-top belongs to a tag with a nav class - apparently navbar is ok too *@
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><site-title/></a>
        <div class="container">
            <div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item nav-item-active"><a class="nav-link" asp-area="" id="@Constants.HomeNavId" asp-controller="home" asp-action="index">Home</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="" id="@Constants.CategoryNavId" asp-controller="category" asp-action="category">Category</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="" id="@Constants.ArchiveNavId" asp-controller="archive" asp-action="archive">Archive</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="feed" asp-action="rss">Subscribe</a></li>
                <li class="nav-item" dasblog-authorized><a class="nav-link" asp-area="" asp-controller="post" asp-action="create">Create Post</a></li>
                <li class="nav-item" dasblog-authorized><a class="nav-link" asp-area="" asp-controller="users" asp-action="index">Users</a></li>
                <li class="nav-item" dasblog-authorized><a class="nav-link" asp-area="" asp-controller="Activity" asp-action="ActivityList">Activity</a></li>
            </ul>
            </div>
        </div>
        <div class="navbar navbar-collapse  col-md-offset-10 col-md-2">
            @* could not make this go further right (or perhaps it already was fully justified on an indented column *@
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" dasblog-unauthorized><a class="nav-link" asp-controller="account" asp-action="login">Log in</a></li>
                <li class="nav-item" dasblog-authorized><a class="nav-link" asp-controller="account" asp-action="logout">Log out</a></li>
            </ul>
        </div>
        <div dasblog-authorized class="row">    @* bootstrap seems to ignore the row class - it does not put the name on the next row *@
            <div class="col-lg-offset-6 col-lg-6">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-link">
                        Hello @UserManager.GetUserName(User)!
                    </li>                    
                </ul>
            </div>
        </div>
    </div>
</div> 