@model PostViewModel

@{
    ViewData["Title"] = @Model.Title;
}

<div class="post">
    <h2>@Model.Title</h2>
    <div class="post-body">
        @Html.Raw(@Model.Content)
    </div>
    <div class="post-footer">
        @Model.Categories
    </div>
    <div>
        <post-created post=@Model>MMMM dd, yyyy</post-created>
    </div>

</div>
<hr />