@model PostViewModel

@{
    ViewData["Title"] = @Model.Title;
}

<div class="post">
    <h2><title-link post=@Model>somecss</title-link></h2>
    <div class="post-body">
        @Html.Raw(@Model.Content)
    </div>
    <div class="post-footer">
        <div>
            <categories-list categories=@Model.Categories> </categories-list>
        </div>
        <div>
            <post-created post=@Model>MMMM dd, yyyy</post-created>
        </div>
        <div>
            <edit-post blog-post-id="@Model.EntryId"></edit-post>
        </div>
        <div>
            <comment-post blog-post-id="@Model.EntryId"></comment-post>
        </div>
    </div>
    @Html.Partial("_CommentBlockPartial", @Model.Comments)
</div>
<hr />