@using DasBlog.Core.Common
@using DasBlog.Web.Models.AccountViewModels
@using DasBlog.Web.Identity
@using Microsoft.AspNetCore.Identity
@model DasBlog.Web.Models.AccountViewModels.LoginViewModel
@inject SignInManager<DasBlogUser> SignInManager

@{
    ViewBag.Title = "Log In";
    Layout = "../../Themes/dasblog/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<hr />
<form asp-controller="Account" asp-action="Login" asp-route-returnurl="~/admin/settings" method="post" class="form-horizontal">

    <div class="row gy-2 gx-3 justify-content-md-center mb-3">
        <div class="col-sm-4">
            <div class="form-floating">
                @Html.TextBoxFor(m => @Model.Email, null, new { @class = "form-control", id = "EmailLogin" })
                @Html.LabelFor(m => @Model.Email, null, new { @class = "form-label", @for = "EmailLogin" })
            </div>
            @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
        </div>
    </div>

    <div class="row gy-2 gx-3 justify-content-md-center mb-3">
        <div class="col-sm-4">
            <div class="form-floating">
                @Html.TextBoxFor(m => @Model.Password, null, new { @class = "form-control", id = "PasswordLogin", Type="password" })
                @Html.LabelFor(m => @Model.Password, null, new { @class = "form-label", @for = "PasswordLogin" })
            </div>
            @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
        </div>
    </div>

    <div class="d-flex flex-wrap justify-content-md-center">
        @Html.CheckBoxFor(m => @Model.RememberMe, new { @class = "form-check-input me-1" })
        @Html.LabelFor(m => @Model.RememberMe, null, new { @class = "form-check-label me-3" })
    </div>

    <hr />
    <div class="d-flex flex-wrap justify-content-md-center">

            <button id="LoginButton" type="submit" class="btn btn-primary me-2">Log in</button>
            <a href="~/" class="btn btn-secondary">Cancel</a>

    </div>
</form>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
