@using DasBlog.Core.Common
@using DasBlog.Web.Models.AccountViewModels
@using DasBlog.Web.Identity
@using Microsoft.AspNetCore.Identity
@model DasBlog.Web.Models.AccountViewModels.LoginViewModel
@inject SignInManager<DasBlogUser> SignInManager

@{
    ViewBag.Title = "Log In";
    Layout = "../../Themes/dasblog/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-8">
        <section>
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label for="@Constants.Email" class="col-md-2 control-label">@Constants.Email</label>
                    <div class="col-md-10">
                        <input id="@Constants.Email" name="@Constants.Email" value="" class="form-control" />
                        <span asp-validation-for="@Constants.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="@Constants.Password" class="col-md-2 control-label">@Constants.Password</label>
                    <div class="col-md-10">
                        <input id="@Constants.Password" name="@Constants.Password" value="" type="password" class="form-control" />
                        <span id="@Constants.PasswordValidationId" asp-validation-for="@Constants.Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label asp-for="RememberMe">
                                <input asp-for="RememberMe" />
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button id="LoginButton" type="submit" class="btn btn-default btn-primary">Log in</button>
                    </div>
                </div>
            </form>
        </section>
    </div>

</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
