@using DasBlog.Services.ActivityLogs
@using DasBlog.Core.Common;

@model System.Collections.Generic.List<EventDataDisplayItem>

@{
    ViewBag.Title = "Activity Report";
    Layout = "../../Themes/dasblog/_Layout.cshtml";
}

@functions
{

    string SelectEventRowStyle(EventDataDisplayItem eddi)
    {
        switch (eddi.EventCode)
        {
            case EventCodes.Error:
            case EventCodes.PingbackServerError:
            case EventCodes.PingWeblogsError:
            case EventCodes.Pop3ServerError:
            case EventCodes.SmtpError:
                return "dbc-activity-rable-row-error";
            case EventCodes.SecurityFailure:
                return "dbc-activity-table-row-security-failure";
            case EventCodes.TrackbackBlocked:
            case EventCodes.ReferralBlocked:
            case EventCodes.ItemReferralBlocked:
            case EventCodes.CommentBlocked:
            case EventCodes.PingbackBlocked:
                return "dbc-activity-table-row-blocked";
            default:
                return string.Empty;
        }
    }

}

<h1>@ViewBag.Title</h1>
<hr />
<div class="row">
    <form asp-controller="activity" asp-action="" method="get" class="form-inline">

        <div class="form-group">
            <label for="date" class="col-sm-2 control-label"></label>
            <div class="col-md-3">
                <input type="date" name="date" id="date" class="form-control" value="@ViewBag.Date" />
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Go" class="btn btn-primary btn-default" />
        </div>

        <span widht="1em"></span>
        <a href="activity/date/@ViewBag.PreviousDay" title="Next">&lt;</a>
        <span widht="1em"></span>
        <a href="activity/date/@ViewBag.NextDay" title="Next">&gt;</a>
        <span widht="1em"></span>
        <a href="activity/date/@ViewBag.Today" title="Today">&gt;|</a>
    </form>
</div>
<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-bordered table-condensed dbc-activity-table">
                <thead>
                    <tr>
                        <td class="dbc-activity-table-header-column">
                            <strong>Time</strong>
                        </td>
                        <td class="dbc-activity-table-header-column">
                            <strong>Code</strong>
                        </td>
                        <td class="dbc-activity-table-header-column">
                            <strong>Message</strong>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var eddi in Model)
                    {
                        <tr class="@SelectEventRowStyle(eddi)">
                            <td class="actityTableDateColumnStyle">
                                @eddi.Date
                            </td>
                            <td class="dbc-activity-table-column">
                                @eddi.EventCode
                            </td>
                            <td class="dbc-activity-table-column">
                                @Html.Raw(eddi.HtmlMessage)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>