@using DasBlog.Services;
@using DasBlog.Core.Common;
@using System.Net;
@inject IDasBlogSettings dasBlogSettings
@model List<CommentAdminViewModel>


@{
    ViewBag.Title = "Manage Comments";
    Layout = "../../Themes/dasblog/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Blog Title</th>
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Comment Text</th>
                    <th scope="col">Approval</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var comment in Model)
                {
                    <tr>
                        <td><a>@comment.Title</td>
                        <td><a href="mailto:@comment.Email?subject=@comment.Title&body=@comment.Text">@comment.Name</a></td>
                        <td>@comment.SpamState</td>
                        <td>@comment.Text</td>
                        <td><comment-approval-link comment="@comment" admin="true" /></td>
                        <td><comment-delete-link comment="@comment" admin="true" /></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>