@using DasBlog.Web.Models.AdminViewModels

@inject IDasBlogSettings dasBlogSettings
@model DasBlogSettingsViewModel


@{
    ViewBag.Title = "Site Settings";
    Layout = "../../Themes/dasblog/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<hr />
@Html.ValidationSummary(false, "", new { @class = "text-danger" })

<form asp-action="settings" name="UpdateSettingsForm" id="UpdateSettingsForm">

	<div class="accordion" id="accordionExample">
        <div class="accordion-item">
		    <h2 class="accordion-header">
		        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h4>Main</h4>
		        </button>
		    </h2>
		    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
		        <div class="accordion-body">
                    <partial name="_Admin_General" />
		        </div>
		    </div>
	    </div>

	    <div class="accordion-item">
	    	<h2 class="accordion-header">
		        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFrontPage" aria-expanded="false" aria-controls="collapseFrontPage">
                    <h4>Front Page</h4>
		        </button>
		    </h2>
		    <div id="collapseFrontPage" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
		        <div class="accordion-body">
			        <partial name="_Admin_FrontPage" />
		        </div>
		    </div>
	    </div>

        <div class="accordion-item">
	    	<h2 class="accordion-header">
		        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRSSFeed" aria-expanded="false" aria-controls="collapseRSSFeed">
			        <h4>RSS Feed</h4>
		        </button>
		    </h2>
		    <div id="collapseRSSFeed" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
		        <div class="accordion-body">
			        <partial name="_Admin_RSSFeed" />
		        </div>
		    </div>
	    </div>
        <div class="accordion-item">
	    	<h2 class="accordion-header">
		        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseComments" aria-expanded="false" aria-controls="collapseComments">
                    <h4>Comments</h4>
		        </button>
		    </h2>
		    <div id="collapseComments" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
		        <div class="accordion-body">
			        <partial name="_Admin_Comments" />
		        </div>
		    </div>
	    </div>
        <div class="accordion-item">
	    	<h2 class="accordion-header">
		        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMetaData" aria-expanded="false" aria-controls="collapseMetaData">
                    <h4>Meta data</h4>
		        </button>
		    </h2>
		    <div id="collapseMetaData" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
		        <div class="accordion-body">
			        <partial name="_Admin_MetaData" />
		        </div>
		    </div>
	    </div>
        <div class="accordion-item">
	    	<h2 class="accordion-header">
		        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSocial" aria-expanded="false" aria-controls="collapseSocial">
                    <h4>Social</h4>
		        </button>
		    </h2>
		    <div id="collapseSocial" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
		        <div class="accordion-body">
			        <partial name="_Admin_Social" />
		        </div>
		    </div>
	    </div>
        <div class="accordion-item">
	    	<h2 class="accordion-header">
		        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBloggingEditing" aria-expanded="false" aria-controls="collapseBloggingEditing">
                    <h4>Blogging & Editing</h4>
		        </button>
		    </h2>
		    <div id="collapseBloggingEditing" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
		        <div class="accordion-body">
			        <partial name="_Admin_BlogEditing" />
		        </div>
		    </div>
	    </div>
        <div class="accordion-item">
	    	<h2 class="accordion-header">
		        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEmailNotifications" aria-expanded="false" aria-controls="collapseEmailNotifications">
                    <h4>Email & Notifications</h4>
		        </button>
		    </h2>
		    <div id="collapseEmailNotifications" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
		        <div class="accordion-body">
			        <partial name="_Admin_EmailNotifications" />
		        </div>
		    </div>
	    </div>
        <div class="accordion-item">
	    	<h2 class="accordion-header">
		        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAppearance" aria-expanded="false" aria-controls="collapseAppearance">
                    <h4>Appearance</h4>
		        </button>
		    </h2>
		    <div id="collapseAppearance" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
		        <div class="accordion-body">
			        <partial name="_Admin_Appearance" />
		        </div>
		    </div>
	    </div>
        <div class="accordion-item">
	    	<h2 class="accordion-header">
		        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseInternal" aria-expanded="false" aria-controls="collapseInternal">
                    <h4>Internal</h4>
		        </button>
		    </h2>
		    <div id="collapseInternal" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
		        <div class="accordion-body">
			        <partial name="_Admin_Internal" />
		        </div>
		    </div>
	    </div>
        <div class="accordion-item">
	    	<h2 class="accordion-header">
		        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSecurity" aria-expanded="false" aria-controls="collapseSecurity">
                    <h4>Security</h4>
		        </button>
		    </h2>
		    <div id="collapseSecurity" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
		        <div class="accordion-body">
			        <partial name="_Admin_Security" />
		        </div>
		    </div>
	    </div>
	</div>

    <hr />

    <div class="form-group">
        <input type="submit" name="submitAction" value="Save" class="btn btn-default btn-primary btn-lg" />
        <input asp-controller="Home" asp-action="Index" type="submit" name="submit" value="Cancel" class="btn btn-default btn-secondary btn-lg" />
    </div>

    @section Scripts {

        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

    }


    @Html.HiddenFor(@m => m.SiteConfig.EnableTitlePermaLinkSpaces)
    @Html.HiddenFor(@m => m.SiteConfig.CategoryAllEntries)

    @Html.HiddenFor(@m => m.SiteConfig.EntryTitleAsLink)
    @Html.HiddenFor(@m => m.SiteConfig.ObfuscateEmail)

    @Html.HiddenFor(@m => m.SiteConfig.CommentsAllowHtml)
    @Html.HiddenFor(@m => m.SiteConfig.SendReferralsByEmail)
    @Html.HiddenFor(@m => m.SiteConfig.SendTrackbacksByEmail)
    @Html.HiddenFor(@m => m.SiteConfig.SendPingbacksByEmail)
    @Html.HiddenFor(@m => m.SiteConfig.SendPostsByEmail)
    @Html.HiddenFor(@m => m.SiteConfig.EnableCommentApi)
    @Html.HiddenFor(@m => m.SiteConfig.EnableConfigEditService)
    @Html.HiddenFor(@m => m.SiteConfig.EnableEditService)
    @Html.HiddenFor(@m => m.SiteConfig.EnableAutoPingback)
    @Html.HiddenFor(@m => m.SiteConfig.EnableTrackbackService)
    @Html.HiddenFor(@m => m.SiteConfig.EnablePingbackService)

    @Html.HiddenFor(@m => m.SiteConfig.EnableBlogrollDescription)
    @Html.HiddenFor(@m => m.SiteConfig.EnableUrlRewriting)
    @Html.HiddenFor(@m => m.SiteConfig.EnableCrossposts)

    @Html.HiddenFor(@m => m.SiteConfig.UseUserCulture)
    @Html.HiddenFor(@m => m.SiteConfig.ExtensionlessUrls)
    @Html.HiddenFor(@m => m.SiteConfig.EnableAggregatorBugging)

    @Html.HiddenFor(@m => m.SiteConfig.EnableClickThrough)

    @Html.HiddenFor(@m => m.SiteConfig.EnablePop3)
    @Html.HiddenFor(@m => m.SiteConfig.Pop3InlineAttachedPictures)
    @Html.HiddenFor(@m => m.SiteConfig.Pop3InlinedAttachedPicturesThumbHeight)

    @Html.HiddenFor(@m => m.SiteConfig.ApplyContentFiltersToWeb)
    @Html.HiddenFor(@m => m.SiteConfig.ApplyContentFiltersToRSS)
    @Html.HiddenFor(@m => m.SiteConfig.EnableXSSUpstream)

    @Html.HiddenFor(@m => m.SiteConfig.XSSUpstreamEndpoint)
    @Html.HiddenFor(@m => m.SiteConfig.XSSUpstreamUsername)
    @Html.HiddenFor(@m => m.SiteConfig.XSSUpstreamPassword)

    @Html.HiddenFor(@m => m.SiteConfig.XSSRSSFilename)
    @Html.HiddenFor(@m => m.SiteConfig.XSSUpstreamInterval)

    @Html.HiddenFor(@m => m.SiteConfig.Pop3DeleteAllMessages)
    @Html.HiddenFor(@m => m.SiteConfig.Pop3LogIgnoredEmails)
    @Html.HiddenFor(@m => m.SiteConfig.EnableReferralUrlBlackList)

    @Html.HiddenFor(@m => m.SiteConfig.ReferralUrlBlackList)
    @Html.HiddenFor(@m => m.SiteConfig.EnableReferralUrlBlackList404s)

    @Html.HiddenFor(@m => m.SiteConfig.EnableMovableTypeBlackList)
    @Html.HiddenFor(@m => m.SiteConfig.EnableCrossPostFooter)
    @Html.HiddenFor(@m => m.SiteConfig.EncryptLoginPassword)

    @Html.HiddenFor(@m => m.SiteConfig.RssLanguage)
    @Html.HiddenFor(@m => m.SiteConfig.EnableSearchHighlight)

    @Html.HiddenFor(@m => m.SiteConfig.EnableEntryReferrals)
    @Html.HiddenFor(@m => m.SiteConfig.FeedBurnerName)
    @Html.HiddenFor(@m => m.SiteConfig.SupressEmailAddressDisplay)

    @Html.HiddenFor(@m => m.SiteConfig.LogBlockedReferrals)
    @Html.HiddenFor(@m => m.SiteConfig.UseFeedSchemeForSyndication)
    @Html.HiddenFor(@m => m.SiteConfig.EnableAutoSave)

    @Html.HiddenFor(@m => m.SiteConfig.CommentsAllowGravatar)
    @Html.HiddenFor(@m => m.SiteConfig.CommentsGravatarNoImgPath)
    @Html.HiddenFor(@m => m.SiteConfig.CommentsGravatarSize)

    @Html.HiddenFor(@m => m.SiteConfig.CommentsGravatarBorder)
    @Html.HiddenFor(@m => m.SiteConfig.CommentsGravatarRating)
    @Html.HiddenFor(@m => m.SiteConfig.EnableCoComment)

    @Html.HiddenFor(@m => m.SiteConfig.EnableSpamBlockingService)
    @Html.HiddenFor(@m => m.SiteConfig.SpamBlockingServiceApiKey)
    @Html.HiddenFor(@m => m.SiteConfig.EnableSpamModeration)

    @Html.HiddenFor(@m => m.SiteConfig.EnableDailyReportEmail)

    @Html.HiddenFor(@m => m.SiteConfig.EnableGoogleMaps)
    @Html.HiddenFor(@m => m.SiteConfig.GoogleMapsApiKey)

    @Html.HiddenFor(@m => m.SiteConfig.EnableGeoRss)
    @Html.HiddenFor(@m => m.SiteConfig.DefaultLatitude)
    @Html.HiddenFor(@m => m.SiteConfig.DefaultLongitude)

    @Html.HiddenFor(@m => m.SiteConfig.EnableDefaultLatLongForNonGeoCodedPosts)
    @Html.HiddenFor(@m => m.SiteConfig.HtmlTidyContent)
    @Html.HiddenFor(@m => m.SiteConfig.ResolveCommenterIP)

    @Html.HiddenFor(@m => m.SiteConfig.AllowOpenIdComments)
    @Html.HiddenFor(@m => m.SiteConfig.AllowOpenIdAdmin)
    @Html.HiddenFor(@m => m.SiteConfig.BypassSpamOpenIdComment)

    @Html.HiddenFor(@m => m.SiteConfig.AMPPagesEnabled)
    @Html.HiddenFor(@m => m.SiteConfig.RSSEndPointRewrite)


    @Html.HiddenFor(@m => m.MetaConfig.FaceBookAdmins)
    @Html.HiddenFor(@m => m.MetaConfig.FaceBookAppID)

</form>
