@using DasBlog.Web.Models.AdminViewModels

@inject IDasBlogSettings dasBlogSettings
@model DasBlogSettingsViewModel


@{
    ViewBag.Title = "Site Settings";
    Layout = "../../Themes/dasblog/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<hr />
@Html.ValidationSummary(false, "", new { @class = "text-danger" })

<form asp-action="settings" name="UpdateSettingsForm" id="UpdateSettingsForm">

    <div class="dbc-form-group row">

        @Html.LabelFor(m => @Model.SiteConfig.Root, null, new { @class = "dbc-col-form-label col-3" })
        @Html.TextBoxFor(m => @Model.SiteConfig.Root, null, new { @class = "form-control col-9" })
        @Html.ValidationMessageFor(m => m.SiteConfig.Root, null, new { @class = "text-danger" })

    </div>

    <div class="dbc-form-group row">

        @Html.LabelFor(m => @Model.SiteConfig.Title, null, new { @class = "dbc-col-form-label col-3" })
        @Html.TextBoxFor(m => @Model.SiteConfig.Title, null, new { @class = "form-control col-9" })
        @Html.ValidationMessageFor(m => m.SiteConfig.Title, null, new { @class = "text-danger" })

    </div>

    <div class="dbc-form-group row">

        @Html.LabelFor(m => @Model.SiteConfig.Subtitle, null, new { @class = "dbc-col-form-label col-3" })
        @Html.TextBoxFor(m => @Model.SiteConfig.Subtitle, null, new { @class = "form-control col-9" })
        @Html.ValidationMessageFor(m => m.SiteConfig.Subtitle, null, new { @class = "text-danger" })

    </div>

    <div class="dbc-form-group row">

        @Html.LabelFor(m => @Model.SiteConfig.Description, null, new { @class = "dbc-col-form-label col-3" })
        @Html.TextBoxFor(m => @Model.SiteConfig.Description, null, new { @class = "form-control col-9" })
        @Html.ValidationMessageFor(m => m.SiteConfig.Description, null, new { @class = "text-danger" })

    </div>

    <div class="dbc-form-group row">

        @Html.LabelFor(m => @Model.SiteConfig.Theme, null, new { @class = "dbc-col-form-label col-3" })
        @Html.DropDownListFor(n => n.SiteConfig.Theme,
            new SelectList(new ThemesListViewModel(dasBlogSettings).Init(), "Name", "Name"),
            new { @class = "form-control col-2" })
        @Html.ValidationMessageFor(m => m.SiteConfig.Theme, null, new { @class = "text-danger" })

    </div>

    <div class="dbc-form-group row">

        @Html.LabelFor(m => @Model.SiteConfig.NotificationEMailAddress, null, new { @class = "dbc-col-form-label col-3" })
        @Html.TextBoxFor(m => @Model.SiteConfig.NotificationEMailAddress, null, new { @class = "form-control col-9" })
        @Html.ValidationMessageFor(m => m.SiteConfig.NotificationEMailAddress, null, new { @class = "text-danger" })

    </div>

    <div class="dbc-form-group row">

        @Html.LabelFor(m => @Model.SiteConfig.Contact, null, new { @class = "dbc-col-form-label col-3" })
        @Html.TextBoxFor(m => @Model.SiteConfig.Contact, null, new { @class = "form-control col-9" })
        @Html.ValidationMessageFor(m => m.SiteConfig.Contact, null, new { @class = "text-danger" })

    </div>

    <div class="dbc-form-group row">

        @Html.LabelFor(m => @Model.SiteConfig.Copyright, null, new { @class = "dbc-col-form-label col-3" })
        @Html.TextBoxFor(m => @Model.SiteConfig.Copyright, null, new { @class = "form-control col-9" })
        @Html.ValidationMessageFor(m => m.SiteConfig.Copyright, null, new { @class = "text-danger" })

    </div>

    <h3>Front Page</h3>

    <div class="dbc-form-group row">

        @Html.LabelFor(m => @Model.SiteConfig.FrontPageDayCount, null, new { @class = "dbc-col-form-label col-3" })
        @Html.TextBoxFor(m => @Model.SiteConfig.FrontPageDayCount, null, new { @class = "form-control col-2" })
        @Html.ValidationMessageFor(m => m.SiteConfig.FrontPageDayCount, null, new { @class = "text-danger" })

    </div>

    <div class="dbc-form-group row">

        @Html.LabelFor(m => @Model.SiteConfig.FrontPageEntryCount, null, new { @class = "dbc-col-form-label col-3" })
        @Html.TextBoxFor(m => @Model.SiteConfig.FrontPageEntryCount, null, new { @class = "form-control col-2" })
        @Html.ValidationMessageFor(m => m.SiteConfig.FrontPageEntryCount, null, new { @class = "text-danger" })

    </div>

    <div class="dbc-form-group row">

        @Html.LabelFor(m => @Model.SiteConfig.EntriesPerPage, null, new { @class = "dbc-col-form-label col-3" })
        @Html.TextBoxFor(m => @Model.SiteConfig.EntriesPerPage, null, new { @class = "form-control col-2" })
        @Html.ValidationMessageFor(m => m.SiteConfig.EntriesPerPage, null, new { @class = "text-danger" })

    </div>

    <div class="dbc-form-group row">

        @Html.LabelFor(m => @Model.SiteConfig.FrontPageCategory, null, new { @class = "dbc-col-form-label col-3" })
        @Html.TextBoxFor(m => @Model.SiteConfig.FrontPageCategory, null, new { @class = "form-control col-9" })
        @Html.ValidationMessageFor(m => m.SiteConfig.FrontPageCategory, null, new { @class = "text-danger" })

    </div>

    <div class="dbc-form-group row">

        @Html.LabelFor(m => @Model.SiteConfig.ContentLookaheadDays, null, new { @class = "dbc-col-form-label col-3" })
        @Html.TextBoxFor(m => @Model.SiteConfig.ContentLookaheadDays, null, new { @class = "form-control col-2" })
        @Html.ValidationMessageFor(m => m.SiteConfig.ContentLookaheadDays, null, new { @class = "text-danger" })

    </div>

    <div class="dbc-form-check row">

        @Html.LabelFor(m => @Model.SiteConfig.EnableStartPageCaching, null, new { @class = "dbc-col-form-label col-3" })
        @Html.CheckBoxFor(m => @Model.SiteConfig.EnableStartPageCaching, new { @class = "dbc-form-check-input" })

    </div>

    <div class="dbc-form-check row">

        @Html.LabelFor(m => @Model.SiteConfig.ShowItemSummaryInAggregatedViews, null, new { @class = "dbc-col-form-label col-3" })
        @Html.CheckBoxFor(m => @Model.SiteConfig.ShowItemSummaryInAggregatedViews, new { @class = "dbc-form-check-input" })

    </div>


    <h3>RSS Feed Settings</h3>

    <div class="dbc-form-check row">

        @Html.LabelFor(m => @Model.SiteConfig.AlwaysIncludeContentInRSS, null, new { @class = "dbc-col-form-label col-3" })
        @Html.CheckBoxFor(m => @Model.SiteConfig.AlwaysIncludeContentInRSS, new { @class = "dbc-form-check-input" })

    </div>

    <div class="dbc-form-group row">

        @Html.LabelFor(m => @Model.SiteConfig.RssDayCount, null, new { @class = "dbc-col-form-label col-3" })
        @Html.TextBoxFor(m => @Model.SiteConfig.RssDayCount, null, new { @class = "form-control col-2" })
        @Html.ValidationMessageFor(m => m.SiteConfig.RssDayCount, null, new { @class = "text-danger" })

    </div>

    <div class="dbc-form-group row">

        @Html.LabelFor(m => @Model.SiteConfig.RssMainEntryCount, null, new { @class = "dbc-col-form-label col-3" })
        @Html.TextBoxFor(m => @Model.SiteConfig.RssMainEntryCount, null, new { @class = "form-control col-2" })
        @Html.ValidationMessageFor(m => m.SiteConfig.RssMainEntryCount, null, new { @class = "text-danger" })

    </div>

    <div class="dbc-form-group row">

        @Html.LabelFor(m => @Model.SiteConfig.RssEntryCount, null, new { @class = "dbc-col-form-label col-3" })
        @Html.TextBoxFor(m => @Model.SiteConfig.RssEntryCount, null, new { @class = "form-control col-2" })
        @Html.ValidationMessageFor(m => m.SiteConfig.RssEntryCount, null, new { @class = "text-danger" })

    </div>

    <div class="dbc-form-check row">

        @Html.LabelFor(m => @Model.SiteConfig.EnableRssItemFooters, null, new { @class = "dbc-col-form-label col-3" })
        @Html.CheckBoxFor(m => @Model.SiteConfig.EnableRssItemFooters, new { @class = "dbc-form-check-input" })

    </div>

    <div class="dbc-form-group row">

        @Html.LabelFor(m => @Model.SiteConfig.RssItemFooter, null, new { @class = "dbc-col-form-label col-3" })
        @Html.TextBoxFor(m => @Model.SiteConfig.RssItemFooter, null, new { @class = "form-control col-9" })
        @Html.ValidationMessageFor(m => m.SiteConfig.RssItemFooter, null, new { @class = "text-danger" })

    </div>

    <h3>Comments</h3>

    <div class="dbc-form-check row">

        @Html.LabelFor(m => @Model.SiteConfig.EnableComments, null, new { @class = "dbc-col-form-label col-3" })
        @Html.CheckBoxFor(m => @Model.SiteConfig.EnableComments, new { @class = "dbc-form-check-input" })

    </div>

    <div class="dbc-form-check row">

        @Html.LabelFor(m => @Model.SiteConfig.EnableCommentDays, null, new { @class = "dbc-col-form-label col-3" })
        @Html.CheckBoxFor(m => @Model.SiteConfig.EnableCommentDays, new { @class = "dbc-form-check-input" })

    </div>

    <div class="dbc-form-group row">

        @Html.LabelFor(m => @Model.SiteConfig.DaysCommentsAllowed, null, new { @class = "dbc-col-form-label col-3" })
        @Html.TextBoxFor(m => @Model.SiteConfig.DaysCommentsAllowed, null, new { @class = "form-control col-2" })
        @Html.ValidationMessageFor(m => m.SiteConfig.DaysCommentsAllowed, null, new { @class = "text-danger" })

    </div>

    <div class="dbc-form-check row">

        @Html.LabelFor(m => @Model.SiteConfig.CommentsRequireApproval, null, new { @class = "dbc-col-form-label col-3" })
        @Html.CheckBoxFor(m => @Model.SiteConfig.CommentsRequireApproval, new { @class = "dbc-form-check-input" })

    </div>

    <div class="dbc-form-group row">

        @Html.LabelFor(m => @Model.SiteConfig.CheesySpamQ, null, new { @class = "dbc-col-form-label col-3" })
        @Html.TextBoxFor(m => @Model.SiteConfig.CheesySpamQ, null, new { @class = "form-control col-9" })
        @Html.ValidationMessageFor(m => m.SiteConfig.CheesySpamQ, null, new { @class = "text-danger" })

    </div>

    <div class="dbc-form-group row">

        @Html.LabelFor(m => @Model.SiteConfig.CheesySpamA, null, new { @class = "dbc-col-form-label col-3" })
        @Html.TextBoxFor(m => @Model.SiteConfig.CheesySpamA, null, new { @class = "form-control col-9" })
        @Html.ValidationMessageFor(m => m.SiteConfig.CheesySpamA, null, new { @class = "text-danger" })

    </div>

    <div class="dbc-form-check row">

        @Html.LabelFor(m => @Model.SiteConfig.EnableCaptcha, null, new { @class = "dbc-col-form-label col-3" })
        @Html.CheckBoxFor(m => @Model.SiteConfig.EnableCaptcha, new { @class = "dbc-form-check-input" })

    </div>

    <div class="dbc-form-group row">

        @Html.LabelFor(m => @Model.SiteConfig.RecaptchaMinimumScore, null, new { @class = "dbc-col-form-label col-3" })
        @Html.TextBoxFor(m => @Model.SiteConfig.RecaptchaMinimumScore, null, new { @class = "form-control col-9" })
        @Html.ValidationMessageFor(m => m.SiteConfig.RecaptchaMinimumScore, null, new { @class = "text-danger" })

    </div>
    <div class="dbc-form-group row">

        @Html.LabelFor(m => @Model.SiteConfig.RecaptchaSiteKey, null, new { @class = "dbc-col-form-label col-3" })
        @Html.TextBoxFor(m => @Model.SiteConfig.RecaptchaSiteKey, null, new { @class = "form-control col-9" })
        @Html.ValidationMessageFor(m => m.SiteConfig.RecaptchaSiteKey, null, new { @class = "text-danger" })

    </div>



    <div class="dbc-form-group row">

        @Html.LabelFor(m => @Model.SiteConfig.RecaptchaSecretKey, null, new { @class = "dbc-col-form-label col-3" })
        @Html.TextBoxFor(m => @Model.SiteConfig.RecaptchaSecretKey, null, new { @class = "form-control col-9" })
        @Html.ValidationMessageFor(m => m.SiteConfig.RecaptchaSecretKey, null, new { @class = "text-danger" })

    </div>

    <div class="dbc-form-check row">

        @Html.LabelFor(m => @Model.SiteConfig.ShowCommentsWhenViewingEntry, null, new { @class = "dbc-col-form-label col-3" })
        @Html.CheckBoxFor(m => @Model.SiteConfig.ShowCommentsWhenViewingEntry, new { @class = "dbc-form-check-input" })

    </div>

    <div class="dbc-form-group row">

        <div class="dasblog-col-title col-3">
            @Html.LabelFor(m => @Model.SiteConfig.ValidCommentTags, null, new { @class = "dbc-col-form-label" })
        </div>

        <div class="dasblog-col-body col-9">
            @for (var i = 0; i < @Model.SiteConfig.ValidCommentTags[0].Tag.Count; i++)
            {
                <input type="checkbox" asp-for="@Model.SiteConfig.ValidCommentTags[0].Tag[i].Allowed" />
                <label asp-for="@Model.SiteConfig.ValidCommentTags[0].Tag[i].Allowed">@Model.SiteConfig.ValidCommentTags[0].Tag[i].Name</label>
                <input type="hidden" asp-for="@Model.SiteConfig.ValidCommentTags[0].Tag[i].Attributes" />
                <input type="hidden" asp-for="@Model.SiteConfig.ValidCommentTags[0].Tag[i].Name" />
                <span style="display: inline-block; width: 1em;"></span>
            }
        </div>
    </div>


    <h3>Blog meta data</h3>

    <div class="dbc-form-group row">

        @Html.LabelFor(m => @Model.MetaConfig.MetaDescription, null, new { @class = "dbc-col-form-label col-3" })
        @Html.TextBoxFor(m => @Model.MetaConfig.MetaDescription, null, new { @class = "form-control col-9" })
        @Html.ValidationMessageFor(m => m.MetaConfig.MetaDescription, null, new { @class = "text-danger" })

    </div>

    <div class="dbc-form-group row">

        @Html.LabelFor(m => @Model.MetaConfig.MetaKeywords, null, new { @class = "dbc-col-form-label col-3" })
        @Html.TextBoxFor(m => @Model.MetaConfig.MetaKeywords, null, new { @class = "form-control col-9" })
        @Html.ValidationMessageFor(m => m.MetaConfig.MetaKeywords, null, new { @class = "text-danger" })

    </div>

    <h3>Social</h3>

    <div class="dbc-form-group row">

        @Html.LabelFor(m => @Model.MetaConfig.TwitterSite, null, new { @class = "dbc-col-form-label col-3" })
        @Html.TextBoxFor(m => @Model.MetaConfig.TwitterSite, null, new { @class = "form-control col-9" })
        @Html.ValidationMessageFor(m => m.MetaConfig.TwitterSite, null, new { @class = "text-danger" })

    </div>

    <div class="dbc-form-group row">

        @Html.LabelFor(m => @Model.MetaConfig.TwitterCreator, null, new { @class = "dbc-col-form-label col-3" })
        @Html.TextBoxFor(m => @Model.MetaConfig.TwitterCreator, null, new { @class = "form-control col-9" })
        @Html.ValidationMessageFor(m => m.MetaConfig.TwitterCreator, null, new { @class = "text-danger" })

    </div>

    <div class="dbc-form-group row">

        @Html.LabelFor(m => @Model.MetaConfig.TwitterCard, null, new { @class = "dbc-col-form-label col-3" })

        @Html.DropDownListFor(n => n.MetaConfig.TwitterCard,
            new SelectList(new TwitterCardViewModel().Init(), "Id", "Name"),
            new { @class = "form-control col-3" })
        @Html.ValidationMessageFor(m => m.MetaConfig.TwitterCard, null, new { @class = "text-danger" })

    </div>

    <div class="dbc-form-group row">
        @Html.LabelFor(m => @Model.MetaConfig.TwitterImage, null, new { @class = "dbc-col-form-label col-3" })
        @Html.TextBoxFor(m => @Model.MetaConfig.TwitterImage, null, new { @class = "form-control col-9" })
        @Html.ValidationMessageFor(m => m.MetaConfig.TwitterImage, null, new { @class = "text-danger" })
    </div>

    <div class="dbc-form-group row">
        @Html.LabelFor(m => @Model.MetaConfig.GoogleAnalyticsID, null, new { @class = "dbc-col-form-label col-3" })
        @Html.TextBoxFor(m => @Model.MetaConfig.GoogleAnalyticsID, null, new { @class = "form-control col-9" })
        @Html.ValidationMessageFor(m => m.MetaConfig.GoogleAnalyticsID, null, new { @class = "text-danger" })
    </div>

    <h3>Blogging</h3>

    <div class="dbc-form-check row">

        @Html.LabelFor(m => @Model.SiteConfig.EnableBloggerApi, null, new { @class = "dbc-col-form-label col-3" })
        @Html.CheckBoxFor(m => @Model.SiteConfig.EnableBloggerApi, new { @class = "dbc-form-check-input" })

    </div>

    <div class="dbc-form-group row">

        @Html.LabelFor(m => @Model.SiteConfig.PreferredBloggingAPI, null, new { @class = "dbc-col-form-label col-3" })
        @Html.DropDownListFor(n => n.SiteConfig.PreferredBloggingAPI,
            new SelectList(new BloggerAPIViewModel().Init(), "Name", "Name"),
            new { @class = "form-control col-3" })
        @Html.ValidationMessageFor(m => m.SiteConfig.PreferredBloggingAPI, null, new { @class = "text-danger" })

    </div>

    <div class="dbc-form-group row">
        @Html.LabelFor(m => @Model.SiteConfig.EntryEditControl, null, new { @class = "dbc-col-form-label col-3" })

        @Html.DropDownListFor(n => n.SiteConfig.EntryEditControl,
            new SelectList(new EntryEditControlViewModel().Init(), "Name", "Name"),
            new { @class = "form-control col-3" })
        @Html.ValidationMessageFor(m => m.SiteConfig.EntryEditControl, null, new { @class = "text-danger" })

    </div>

    <h3>Email</h3>

    <div class="dbc-form-check row">

        @Html.LabelFor(m => @Model.SiteConfig.SendCommentsByEmail, null, new { @class = "dbc-col-form-label col-3" })
        @Html.CheckBoxFor(m => @Model.SiteConfig.SendCommentsByEmail, new { @class = "dbc-form-check-input" })

    </div>

    <div class="dbc-form-group row">

        @Html.LabelFor(m => @Model.SiteConfig.SmtpServer, null, new { @class = "dbc-col-form-label col-3" })
        @Html.TextBoxFor(m => @Model.SiteConfig.SmtpServer, null, new { @class = "form-control col-9" })
        @Html.ValidationMessageFor(m => m.SiteConfig.SmtpServer, null, new { @class = "text-danger" })

    </div>

    <div class="dbc-form-group row">

        @Html.LabelFor(m => @Model.SiteConfig.SmtpUserName, null, new { @class = "dbc-col-form-label col-3" })
        @Html.TextBoxFor(m => @Model.SiteConfig.SmtpUserName, null, new { @class = "form-control col-9" })
        @Html.ValidationMessageFor(m => m.SiteConfig.SmtpUserName, null, new { @class = "text-danger" })

    </div>

    <div class="dbc-form-group row">

        @Html.LabelFor(m => @Model.SiteConfig.SmtpPassword, null, new { @class = "dbc-col-form-label col-3" })
        @Html.PasswordFor(m => @Model.SiteConfig.SmtpPassword, new { @class = "form-control col-9" })
        @Html.ValidationMessageFor(m => m.SiteConfig.SmtpPassword, null, new { @class = "text-danger" })

    </div>

    <div class="dbc-form-check row">

        @Html.LabelFor(m => @Model.SiteConfig.EnableSmtpAuthentication, null, new { @class = "dbc-col-form-label col-3" })
        @Html.CheckBoxFor(m => @Model.SiteConfig.EnableSmtpAuthentication, new { @class = "dbc-form-check-input" })

    </div>

    <div class="dbc-form-group row">

        @Html.LabelFor(m => @Model.SiteConfig.SmtpPort, null, new { @class = "dbc-col-form-label col-3" })
        @Html.TextBoxFor(m => @Model.SiteConfig.SmtpPort, null, new { @class = "form-control col-9" })
        @Html.ValidationMessageFor(m => m.SiteConfig.SmtpPort, null, new { @class = "text-danger" })

    </div>

    <div class="dbc-form-check row">

        @Html.LabelFor(m => @Model.SiteConfig.UseSSLForSMTP, null, new { @class = "dbc-col-form-label col-3" })
        @Html.CheckBoxFor(m => @Model.SiteConfig.UseSSLForSMTP, new { @class = "dbc-form-check-input" })

    </div>

    <div class="dbc-form-check row">

        <label class="dbc-col-form-label col-3">SMTP Test</label>
        <input asp-controller="Admin" asp-action="TestEmail" type="submit" name="submit" value="Send test Email" class="btn-default" />

    </div>

    <h3>Appearance Settings</h3>

    <div class="dbc-form-check row">

        @Html.LabelFor(m => @Model.SiteConfig.ShowCommentCount, null, new { @class = "dbc-col-form-label col-3" })
        @Html.CheckBoxFor(m => @Model.SiteConfig.ShowCommentCount, new { @class = "dbc-form-check-input" })

    </div>

    <div class="dbc-form-check row">

        @Html.LabelFor(m => @Model.SiteConfig.EnableTitlePermaLinkUnique, null, new { @class = "dbc-col-form-label col-3" })
        @Html.CheckBoxFor(m => @Model.SiteConfig.EnableTitlePermaLinkUnique, new { @class = "dbc-form-check-input" })

    </div>

    <div class="dbc-form-group row">

        @Html.LabelFor(m => @Model.SiteConfig.TitlePermalinkSpaceReplacement, null, new { @class = "dbc-col-form-label col-3" })

        @Html.DropDownListFor(n => n.SiteConfig.TitlePermalinkSpaceReplacement,
            new SelectList(new SpaceReplacementViewModel().Init(), "Name", "Name"),
            new { @class = "form-control col-1" })

        @Html.ValidationMessageFor(m => m.SiteConfig.TitlePermalinkSpaceReplacement, null, new { @class = "text-danger" })

    </div>

    <div class="dbc-form-check row">

        @Html.LabelFor(m => @Model.SiteConfig.CookieConsentEnabled, null, new { @class = "dbc-col-form-label col-3" })
        @Html.CheckBoxFor(m => @Model.SiteConfig.CookieConsentEnabled, new { @class = "dbc-form-check-input" })

    </div>

    <div class="dbc-form-check row">

        @Html.LabelFor(m => @Model.SiteConfig.UseAspxExtension, null, new { @class = "dbc-col-form-label col-3" })
        @Html.CheckBoxFor(m => @Model.SiteConfig.UseAspxExtension, new { @class = "dbc-form-check-input" })

    </div>

    <h3>Internal</h3>

    <div class="dbc-form-group row">

        @Html.LabelFor(m => @Model.SiteConfig.ContentDir, null, new { @class = "dbc-col-form-label col-3" })
        @Html.TextBoxFor(m => @Model.SiteConfig.ContentDir, null, new { @class = "form-control col-9" })
        @Html.ValidationMessageFor(m => m.SiteConfig.ContentDir, null, new { @class = "text-danger" })

    </div>

    <div class="dbc-form-group row">

        @Html.LabelFor(m => @Model.SiteConfig.BinariesDir, null, new { @class = "dbc-col-form-label col-3" })
        @Html.TextBoxFor(m => @Model.SiteConfig.BinariesDir, null, new { @class = "form-control col-9" })
        @Html.ValidationMessageFor(m => m.SiteConfig.BinariesDir, null, new { @class = "text-danger" })

    </div>


    <div class="dbc-form-group row">

        @Html.LabelFor(m => @Model.SiteConfig.LogDir, null, new { @class = "dbc-col-form-label col-3" })
        @Html.TextBoxFor(m => @Model.SiteConfig.LogDir, null, new { @class = "form-control col-9" })
        @Html.ValidationMessageFor(m => m.SiteConfig.LogDir, null, new { @class = "text-danger" })

    </div>

    <div class="dbc-form-check row">

        @Html.LabelFor(m => @Model.SiteConfig.AdjustDisplayTimeZone, null, new { @class = "dbc-col-form-label col-3" })
        @Html.CheckBoxFor(m => @Model.SiteConfig.AdjustDisplayTimeZone, new { @class = "dbc-form-check-input" })

    </div>

    <div class="dbc-form-group row">

        @Html.LabelFor(m => @Model.SiteConfig.DisplayTimeZoneIndex, null, new { @class = "dbc-col-form-label col-3" })
        @Html.DropDownListFor(n => n.SiteConfig.DisplayTimeZoneIndex,
            new SelectList(new TimeZoneIndexViewModel().Init(), "Id", "Name"),
            new { @class = "form-control col-3" })

        @Html.ValidationMessageFor(m => m.SiteConfig.DisplayTimeZoneIndex, null, new { @class = "text-danger" })

    </div>

    <h3>Security</h3>

    <div class="dbc-form-group row">

        @Html.LabelFor(m => @Model.SiteConfig.SecurityStyleSources, null, new { @class = "dbc-col-form-label col-3" })
        @Html.TextBoxFor(m => @Model.SiteConfig.SecurityStyleSources, null, new { @class = "form-control col-9" })
        @Html.ValidationMessageFor(m => m.SiteConfig.SecurityStyleSources, null, new { @class = "text-danger" })

    </div>

    <div class="dbc-form-group row">

        @Html.LabelFor(m => @Model.SiteConfig.SecurityScriptSources, null, new { @class = "dbc-col-form-label col-3" })
        @Html.TextBoxFor(m => @Model.SiteConfig.SecurityScriptSources, null, new { @class = "form-control col-9" })
        @Html.ValidationMessageFor(m => m.SiteConfig.SecurityScriptSources, null, new { @class = "text-danger" })

    </div>

    <hr />

    <div class="form-group">
        <input type="submit" name="submitAction" value="Save" class="btn btn-default btn-primary" />
        <input asp-controller="Home" asp-action="Index" type="submit" name="submit" value="Cancel" class="btn cancel" />
    </div>

    @section Scripts {

        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

    }


    @Html.HiddenFor(@m => m.SiteConfig.EnableTitlePermaLinkSpaces)
    @Html.HiddenFor(@m => m.SiteConfig.CategoryAllEntries)

    @Html.HiddenFor(@m => m.SiteConfig.EntryTitleAsLink)
    @Html.HiddenFor(@m => m.SiteConfig.ObfuscateEmail)

    @Html.HiddenFor(@m => m.SiteConfig.CommentsAllowHtml)
    @Html.HiddenFor(@m => m.SiteConfig.SendReferralsByEmail)
    @Html.HiddenFor(@m => m.SiteConfig.SendTrackbacksByEmail)
    @Html.HiddenFor(@m => m.SiteConfig.SendPingbacksByEmail)
    @Html.HiddenFor(@m => m.SiteConfig.SendPostsByEmail)
    @Html.HiddenFor(@m => m.SiteConfig.EnableCommentApi)
    @Html.HiddenFor(@m => m.SiteConfig.EnableConfigEditService)
    @Html.HiddenFor(@m => m.SiteConfig.EnableEditService)
    @Html.HiddenFor(@m => m.SiteConfig.EnableAutoPingback)
    @Html.HiddenFor(@m => m.SiteConfig.EnableTrackbackService)
    @Html.HiddenFor(@m => m.SiteConfig.EnablePingbackService)

    @Html.HiddenFor(@m => m.SiteConfig.EnableBlogrollDescription)
    @Html.HiddenFor(@m => m.SiteConfig.EnableUrlRewriting)
    @Html.HiddenFor(@m => m.SiteConfig.EnableCrossposts)

    @Html.HiddenFor(@m => m.SiteConfig.UseUserCulture)
    @Html.HiddenFor(@m => m.SiteConfig.ExtensionlessUrls)
    @Html.HiddenFor(@m => m.SiteConfig.EnableAggregatorBugging)

    @Html.HiddenFor(@m => m.SiteConfig.EnableClickThrough)

    @Html.HiddenFor(@m => m.SiteConfig.EnablePop3)
    @Html.HiddenFor(@m => m.SiteConfig.Pop3InlineAttachedPictures)
    @Html.HiddenFor(@m => m.SiteConfig.Pop3InlinedAttachedPicturesThumbHeight)

    @Html.HiddenFor(@m => m.SiteConfig.ApplyContentFiltersToWeb)
    @Html.HiddenFor(@m => m.SiteConfig.ApplyContentFiltersToRSS)
    @Html.HiddenFor(@m => m.SiteConfig.EnableXSSUpstream)

    @Html.HiddenFor(@m => m.SiteConfig.XSSUpstreamEndpoint)
    @Html.HiddenFor(@m => m.SiteConfig.XSSUpstreamUsername)
    @Html.HiddenFor(@m => m.SiteConfig.XSSUpstreamPassword)

    @Html.HiddenFor(@m => m.SiteConfig.XSSRSSFilename)
    @Html.HiddenFor(@m => m.SiteConfig.XSSUpstreamInterval)

    @Html.HiddenFor(@m => m.SiteConfig.Pop3DeleteAllMessages)
    @Html.HiddenFor(@m => m.SiteConfig.Pop3LogIgnoredEmails)
    @Html.HiddenFor(@m => m.SiteConfig.EnableReferralUrlBlackList)

    @Html.HiddenFor(@m => m.SiteConfig.ReferralUrlBlackList)
    @Html.HiddenFor(@m => m.SiteConfig.EnableReferralUrlBlackList404s)

    @Html.HiddenFor(@m => m.SiteConfig.EnableMovableTypeBlackList)
    @Html.HiddenFor(@m => m.SiteConfig.EnableCrossPostFooter)
    @Html.HiddenFor(@m => m.SiteConfig.EncryptLoginPassword)

    @Html.HiddenFor(@m => m.SiteConfig.RssLanguage)
    @Html.HiddenFor(@m => m.SiteConfig.EnableSearchHighlight)

    @Html.HiddenFor(@m => m.SiteConfig.EnableEntryReferrals)
    @Html.HiddenFor(@m => m.SiteConfig.FeedBurnerName)
    @Html.HiddenFor(@m => m.SiteConfig.SupressEmailAddressDisplay)

    @Html.HiddenFor(@m => m.SiteConfig.LogBlockedReferrals)
    @Html.HiddenFor(@m => m.SiteConfig.UseFeedSchemeForSyndication)
    @Html.HiddenFor(@m => m.SiteConfig.EnableAutoSave)

    @Html.HiddenFor(@m => m.SiteConfig.CommentsAllowGravatar)
    @Html.HiddenFor(@m => m.SiteConfig.CommentsGravatarNoImgPath)
    @Html.HiddenFor(@m => m.SiteConfig.CommentsGravatarSize)

    @Html.HiddenFor(@m => m.SiteConfig.CommentsGravatarBorder)
    @Html.HiddenFor(@m => m.SiteConfig.CommentsGravatarRating)
    @Html.HiddenFor(@m => m.SiteConfig.EnableCoComment)

    @Html.HiddenFor(@m => m.SiteConfig.EnableSpamBlockingService)
    @Html.HiddenFor(@m => m.SiteConfig.SpamBlockingServiceApiKey)
    @Html.HiddenFor(@m => m.SiteConfig.EnableSpamModeration)

    @Html.HiddenFor(@m => m.SiteConfig.EnableDailyReportEmail)

    @Html.HiddenFor(@m => m.SiteConfig.EnableGoogleMaps)
    @Html.HiddenFor(@m => m.SiteConfig.GoogleMapsApiKey)

    @Html.HiddenFor(@m => m.SiteConfig.EnableGeoRss)
    @Html.HiddenFor(@m => m.SiteConfig.DefaultLatitude)
    @Html.HiddenFor(@m => m.SiteConfig.DefaultLongitude)

    @Html.HiddenFor(@m => m.SiteConfig.EnableDefaultLatLongForNonGeoCodedPosts)
    @Html.HiddenFor(@m => m.SiteConfig.HtmlTidyContent)
    @Html.HiddenFor(@m => m.SiteConfig.ResolveCommenterIP)

    @Html.HiddenFor(@m => m.SiteConfig.AllowOpenIdComments)
    @Html.HiddenFor(@m => m.SiteConfig.AllowOpenIdAdmin)
    @Html.HiddenFor(@m => m.SiteConfig.BypassSpamOpenIdComment)

    @Html.HiddenFor(@m => m.SiteConfig.AMPPagesEnabled)
    @Html.HiddenFor(@m => m.SiteConfig.RSSEndPointRewrite)


    @Html.HiddenFor(@m => m.MetaConfig.FaceBookAdmins)
    @Html.HiddenFor(@m => m.MetaConfig.FaceBookAppID)

</form>
