@using DasBlog.Core.Common
@using DasBlog.Core.Security
@using DasBlog.Web.Models.AdminViewModels

@model DasBlogSettingsViewModel

<h1>Site Settings</h1>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<div class="dasblog-form-group row">
    <label asp-for="@Model.SiteConfig.Root" class="dasblog-col-form-label col-3" data-toggle="tooltip" data-placement="bottom" title=""></label>
    <input name="Root" value="@Model.SiteConfig.Root" type="text" class="form-control col-9"
           data-val-email="" data-val-required="The Root field is required." />
    <span asp-validation-for="@Model.SiteConfig.Root" class="text-danger" data-valmsg-for="Root" data-valmsg-replace="true"></span>
</div>

<div class="dasblog-form-group row">
    <label asp-for="@Model.SiteConfig.Title" class="dasblog-col-form-label col-3"></label>
    <input name="Title" value="@Model.SiteConfig.Title" type="text" class="form-control col-9"
           data-val-email="" data-val-required="The Title field is required." />
    <span asp-validation-for="@Model.SiteConfig.Title" class="text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
</div>

<div class="dasblog-form-group row">
    <label asp-for="@Model.SiteConfig.Subtitle" class="dasblog-col-form-label col-3"></label>
    <input name="Subtitle" value="@Model.SiteConfig.Subtitle" type="text" class="form-control col-9"
           data-val-email="" data-val-required="The Subtitle field is required." />
    <span asp-validation-for="@Model.SiteConfig.Subtitle" class="text-danger" data-valmsg-for="Subtitle" data-valmsg-replace="true"></span>
</div>

<div class="dasblog-form-group row">
    <label asp-for="@Model.SiteConfig.Description" class="dasblog-col-form-label col-3"></label>
    <input name="Description" value="@Model.SiteConfig.Description" type="text" class="form-control col-9"
           data-val-email="" data-val-required="The Description field is optional." />
    <span asp-validation-for="@Model.SiteConfig.Description" class="text-danger" data-valmsg-for="Description" data-valmsg-replace="true"></span>
</div>

<div class="dasblog-form-group row">
    <label asp-for="@Model.SiteConfig.Theme" class="dasblog-col-form-label col-3"></label>
    <input name="Theme" value="@Model.SiteConfig.Theme" type="text" class="form-control col-9"
           data-val-email="" data-val-required="The Theme field is required." />
    <span asp-validation-for="@Model.SiteConfig.Theme" class="text-danger" data-valmsg-for="Theme" data-valmsg-replace="true"></span>
</div>

<div class="dasblog-form-group row">
    <label asp-for="@Model.SiteConfig.NotificationEMailAddress" class="dasblog-col-form-label col-3"></label>
    <input name="NotificationEMailAddress" value="@Model.SiteConfig.NotificationEMailAddress" type="email" class="form-control col-9"
           data-val-email="" data-val-required="The Notification Email field is required." />
    <span asp-validation-for="@Model.SiteConfig.NotificationEMailAddress" class="text-danger" data-valmsg-for="NotificationEMailAddress" data-valmsg-replace="true"></span>
</div>

<div class="dasblog-form-group row">
    <label asp-for="@Model.SiteConfig.Contact" class="dasblog-col-form-label col-3"></label>
    <input name="Contact" value="@Model.SiteConfig.Contact" type="email" class="form-control col-9"
           data-val-email="" data-val-required="The Contact field is required." />
    <span asp-validation-for="@Model.SiteConfig.Contact" class="text-danger" data-valmsg-for="Contact" data-valmsg-replace="true"></span>
</div>

<div class="dasblog-form-group row">
    <label asp-for="@Model.SiteConfig.Copyright" class="dasblog-col-form-label col-3"></label>
    <input name="Copyright" value="@Model.SiteConfig.Copyright" type="text" class="form-control col-9"
           data-val-email="" data-val-required="The Copyright field is required." />
    <span asp-validation-for="@Model.SiteConfig.Copyright" class="text-danger" data-valmsg-for="Copyright" data-valmsg-replace="true"></span>
</div>

<h3>Front Page</h3>

<div class="dasblog-form-group row">
    <label asp-for="@Model.SiteConfig.FrontPageDayCount" class="dasblog-col-form-label col-3"></label>
    <input name="FrontPageDayCount" value="@Model.SiteConfig.FrontPageDayCount" type="text" class="form-control col-2"
           data-val-email="" data-val-required="The Front Page Day Count field is required." maxlength="5" />

    <span asp-validation-for="@Model.SiteConfig.FrontPageDayCount" class="text-danger" data-valmsg-for="FrontPageDayCount" data-valmsg-replace="true"></span>
</div>

<div class="dasblog-form-group row">
    <label asp-for="@Model.SiteConfig.FrontPageEntryCount" class="dasblog-col-form-label col-3"></label>
    <input name="FrontPageEntryCount" value="@Model.SiteConfig.FrontPageEntryCount" type="text" class="form-control col-2"
           data-val-email="" data-val-required="The Front Page Entry Count field is required." maxlength="5" />
    <span asp-validation-for="@Model.SiteConfig.FrontPageEntryCount" class="text-danger" data-valmsg-for="FrontPageEntryCount" data-valmsg-replace="true"></span>
</div>

<div class="dasblog-form-group row">
    <label asp-for="@Model.SiteConfig.EntriesPerPage" class="dasblog-col-form-label col-3"></label>
    <input name="EntriesPerPage" value="@Model.SiteConfig.EntriesPerPage" type="text" class="form-control col-2"
           data-val-email="" data-val-required="The Entries Per Page field is required." maxlength="5" />
    <span asp-validation-for="@Model.SiteConfig.EntriesPerPage" class="text-danger" data-valmsg-for="EntriesPerPage" data-valmsg-replace="true"></span>
</div>

<div class="dasblog-form-group row">
    <label asp-for="@Model.SiteConfig.FrontPageCategory" class="dasblog-col-form-label col-3"></label>
    <input name="FrontPageCategory" value="@Model.SiteConfig.FrontPageCategory" type="text" class="form-control col-9"
           data-val-email="" data-val-required="The Front Page Category field is required." />
    <span asp-validation-for="@Model.SiteConfig.EntriesPerPage" class="text-danger" data-valmsg-for="EntriesPerPage" data-valmsg-replace="true"></span>
</div>

<div class="dasblog-form-check row">
    <label asp-for="@Model.SiteConfig.EnableStartPageCaching" class="dasblog-form-check-label col-3"></label>
    <input name="CategoryAllEntries" checked="@Model.SiteConfig.EnableStartPageCaching" type="checkbox" class="dasblog-form-check-input" />
</div>

<div class="dasblog-form-check row">
    <label asp-for="@Model.SiteConfig.ShowItemSummaryInAggregatedViews" class="dasblog-form-check-label col-3"></label>
    <input name="ShowItemSummaryInAggregatedViews" checked="@Model.SiteConfig.ShowItemSummaryInAggregatedViews" type="checkbox" class="dasblog-form-check-input" />
</div>


<h3>RSS Feed Settings</h3>

<div class="dasblog-form-check row">
    <label asp-for="@Model.SiteConfig.AlwaysIncludeContentInRSS" class="dasblog-form-check-label col-3"></label>
    <input name="CategoryAllEntries" checked="@Model.SiteConfig.AlwaysIncludeContentInRSS" type="checkbox" class="dasblog-form-check-input" />
</div>

<div class="dasblog-form-group row">
    <label asp-for="@Model.SiteConfig.RssDayCount" class="dasblog-col-form-label col-3"></label>
    <input name="RssDayCount" value="@Model.SiteConfig.RssDayCount" type="text" class="form-control col-2"
           data-val-email="" data-val-required="The RSS Day count field is required." maxlength="5" />
    <span asp-validation-for="@Model.SiteConfig.RssDayCount" class="text-danger" data-valmsg-for="RssDayCount" data-valmsg-replace="true"></span>
</div>

<div class="dasblog-form-group row">
    <label asp-for="@Model.SiteConfig.RssMainEntryCount" class="dasblog-col-form-label col-3"></label>
    <input name="RssMainEntryCount" value="@Model.SiteConfig.RssMainEntryCount" type="text" class="form-control col-2"
           data-val-email="" data-val-required="The Root RSS Main Entry is required." maxlength="5" />
    <span asp-validation-for="@Model.SiteConfig.RssMainEntryCount" class="text-danger" data-valmsg-for="RssMainEntryCount" data-valmsg-replace="true"></span>
</div>

<div class="dasblog-form-group row">
    <label asp-for="@Model.SiteConfig.RssEntryCount" class="dasblog-col-form-label col-3"></label>
    <input name="RssEntryCount" value="@Model.SiteConfig.RssEntryCount" type="text" class="form-control col-2"
           data-val-email="" data-val-required="The RSS Entry Count field is required." maxlength="5" />
    <span asp-validation-for="@Model.SiteConfig.RssEntryCount" class="text-danger" data-valmsg-for="RssEntryCount" data-valmsg-replace="true"></span>
</div>

<div class="dasblog-form-check row">
    <label asp-for="@Model.SiteConfig.EnableRssItemFooters" class="dasblog-form-check-label col-3"></label>
    <input name="EnableRssItemFooters" checked="@Model.SiteConfig.EnableRssItemFooters" type="checkbox" class="dasblog-form-check-input" />
</div>

<div class="dasblog-form-group row">
    <label asp-for="@Model.SiteConfig.RssItemFooter" class="dasblog-col-form-label col-3"></label>
    <input name="RssItemFooter" value="@Model.SiteConfig.RssItemFooter" type="text" class="form-control col-9"
           data-val-email="" data-val-required="The Rss Item Footer field is required." />
    <span asp-validation-for="@Model.SiteConfig.RssItemFooter" class="text-danger" data-valmsg-for="RssItemFooter" data-valmsg-replace="true"></span>
</div>

<h3>Comments</h3>

<div class="dasblog-form-check row">
    <label asp-for="@Model.SiteConfig.EnableComments" class="dasblog-form-check-label col-3"></label>
    <input name="EnableComments" checked="@Model.SiteConfig.EnableComments" type="checkbox" class="dasblog-form-check-input" />
</div>

<div class="dasblog-form-check row">
    <label asp-for="@Model.SiteConfig.EnableCommentDays" class="dasblog-form-check-label col-3"></label>
    <input name="EnableCommentDays" checked="@Model.SiteConfig.EnableCommentDays" type="checkbox" class="dasblog-form-check-input" maxlength="5" />
</div>

<div class="dasblog-form-group row">
    <label asp-for="@Model.SiteConfig.DaysCommentsAllowed" class="dasblog-col-form-label col-3"></label>
    <input name="DaysCommentsAllowed" value="@Model.SiteConfig.DaysCommentsAllowed" type="text" class="form-control col-2"
           data-val-email="" data-val-required="The Days Comments Allowed field is required." maxlength="5" />
    <span asp-validation-for="@Model.SiteConfig.DaysCommentsAllowed" class="text-danger" data-valmsg-for="DaysCommentsAllowed" data-valmsg-replace="true"></span>
</div>

<div class="dasblog-form-check row">
    <label asp-for="@Model.SiteConfig.CommentsRequireApproval" class="dasblog-form-check-label col-3"></label>
    <input name="CommentsRequireApproval" checked="@Model.SiteConfig.CommentsRequireApproval" type="checkbox" class="dasblog-form-check-input" />
</div>

<div class="dasblog-form-group row">
    <label asp-for="@Model.SiteConfig.CheesySpamQ" class="dasblog-col-form-label col-3"></label>
    <input name="CheesySpamQ" value="@Model.SiteConfig.CheesySpamQ" type="text" class="form-control col-9"
           data-val-email="" data-val-required="The Cheesy Spam Question field is required." />
    <span asp-validation-for="@Model.SiteConfig.CheesySpamQ" class="text-danger" data-valmsg-for="CheesySpamQ" data-valmsg-replace="true"></span>
</div>

<div class="dasblog-form-group row">
    <label asp-for="@Model.SiteConfig.CheesySpamA" class="dasblog-col-form-label col-3"></label>
    <input name="CheesySpamA" value="@Model.SiteConfig.CheesySpamA" type="text" class="form-control col-9"
           data-val-email="" data-val-required="The Cheesy Spam Answer field is required." />
    <span asp-validation-for="@Model.SiteConfig.CheesySpamA" class="text-danger" data-valmsg-for="CheesySpamA" data-valmsg-replace="true"></span>
</div>

<div class="dasblog-form-check row">
    <label asp-for="@Model.SiteConfig.ShowCommentsWhenViewingEntry" class="dasblog-form-check-label col-3"></label>
    <input name="ShowCommentsWhenViewingEntry" checked="@Model.SiteConfig.ShowCommentsWhenViewingEntry" type="checkbox" class="dasblog-form-check-input" />
</div>



<h3>Blog meta data</h3>

<div class="dasblog-form-group row">
    <label asp-for="@Model.MetaConfig.MetaDescription" class="dasblog-col-form-label col-3"></label>
    <input name="MetaDescription" value="@Model.MetaConfig.MetaDescription" type="text" class="form-control col-9"
           data-val-email="" data-val-required="The Meta Description field is required." />
    <span asp-validation-for="@Model.MetaConfig.MetaDescription" class="text-danger" data-valmsg-for="MetaDescription"
          data-valmsg-replace="true"></span>
</div>

<div class="dasblog-form-group row">
    <label asp-for="@Model.MetaConfig.MetaKeywords" class="dasblog-col-form-label col-3"></label>
    <input name="MetaKeywords" value="@Model.MetaConfig.MetaKeywords" type="text" class="form-control col-9"
           data-val-email="" data-val-required="The Meta Keywords field is required." />
    <span asp-validation-for="@Model.MetaConfig.MetaKeywords" class="text-danger" data-valmsg-for="MetaKeywords"
          data-valmsg-replace="true"></span>
</div>

<h3>Social</h3>

<div class="dasblog-form-group row">
    <label asp-for="@Model.MetaConfig.TwitterSite" class="dasblog-col-form-label col-3"></label>
    <input name="TwitterSite" value="@Model.MetaConfig.TwitterSite" type="text" class="form-control col-9"
           data-val-email="" data-val-required="The Twitter field is required." />
    <span asp-validation-for="@Model.MetaConfig.TwitterCard" class="text-danger" data-valmsg-for="TwitterCard"
          data-valmsg-replace="true"></span>
</div>

<div class="dasblog-form-group row">
    <label asp-for="@Model.MetaConfig.TwitterCreator" class="dasblog-col-form-label col-3"></label>
    <input name="TwitterCreator" value="@Model.MetaConfig.TwitterCreator" type="text" class="form-control col-9"
           data-val-email="" data-val-required="The Twitter Creator field is required." />
    <span asp-validation-for="@Model.MetaConfig.TwitterCreator" class="text-danger" data-valmsg-for="TwitterCreator"
          data-valmsg-replace="true"></span>
</div>

<div class="dasblog-form-group row">
    <label asp-for="@Model.MetaConfig.TwitterCard" class="dasblog-col-form-label col-3"></label>

    @Html.DropDownListFor(n => n.MetaConfig.TwitterCard,
        new SelectList(new TwitterCardViewModel().Init(), "Id", "Name"),
        new { @class = "form-control col-3" })

    <span asp-validation-for="@Model.MetaConfig.TwitterCard" class="text-danger" data-valmsg-for="TwitterCard"
          data-valmsg-replace="true"></span>
</div>

<div class="dasblog-form-group row">
    <label asp-for="@Model.MetaConfig.TwitterImage" class="dasblog-col-form-label col-3"></label>
    <input name="TwitterImage" value="@Model.MetaConfig.TwitterImage" type="text" class="form-control col-9"
           data-val-email="" data-val-required="The Twitter Image field is required." />
    <span asp-validation-for="@Model.MetaConfig.TwitterImage" class="text-danger" data-valmsg-for="TwitterImage"
          data-valmsg-replace="true"></span>
</div>

<div class="dasblog-form-group row">
    <label asp-for="@Model.MetaConfig.GoogleAnalyticsID" class="dasblog-col-form-label col-3"></label>
    <input name="GoogleAnalyticsID" value="@Model.MetaConfig.GoogleAnalyticsID" type="text" class="form-control col-9"
           data-val-email="" data-val-required="The Google Analytics ID field is required." />
    <span asp-validation-for="@Model.MetaConfig.GoogleAnalyticsID" class="text-danger" data-valmsg-for="GoogleAnalyticsID"
          data-valmsg-replace="true"></span>
</div>

<h3>Blogging</h3>

<div class="dasblog-form-check row">
    <label asp-for="@Model.SiteConfig.EnableBloggerApi" class="dasblog-form-check-label col-3"></label>
    <input name="EnableBloggerApi" checked="@Model.SiteConfig.EnableBloggerApi" type="checkbox" class="dasblog-form-check-input" />
</div>

<div class="dasblog-form-group row">
    <label asp-for="@Model.SiteConfig.PreferredBloggingAPI" class="dasblog-col-form-label col-3"></label>

    @Html.DropDownListFor(n => n.SiteConfig.PreferredBloggingAPI,
        new SelectList(new BloggerAPIViewModel().Init(), "Name", "Name"), 
        new {@class="form-control col-3"})


    <span asp-validation-for="@Model.SiteConfig.PreferredBloggingAPI" class="text-danger" data-valmsg-for="PreferredBloggingAPI" data-valmsg-replace="true"></span>
</div>

<div class="dasblog-form-group row">
    <label asp-for="@Model.SiteConfig.EntryEditControl" class="dasblog-col-form-label col-3"></label>

    @Html.DropDownListFor(n => n.SiteConfig.EntryEditControl,
        new SelectList(new EntryEditControlViewModel().Init(), "Name", "Name"), 
        new { @class = "form-control col-3" })

    <span asp-validation-for="@Model.SiteConfig.EntryEditControl" class="text-danger" data-valmsg-for="EntryEditControl" data-valmsg-replace="true"></span>
</div>


<h3>URL Format</h3>

<div class="dasblog-form-check row">
    <label asp-for="@Model.SiteConfig.EnableTitlePermaLinkUnique" class="dasblog-form-check-label col-3"></label>
    <input name="EnableTitlePermaLinkUnique" checked="@Model.SiteConfig.EnableTitlePermaLinkUnique" type="checkbox" class="dasblog-form-check-input" />
</div>

<div class="dasblog-form-check row">
    <label asp-for="@Model.SiteConfig.EnableTitlePermaLinkSpaces" class="dasblog-form-check-label col-3"></label>
    <input name="EnableTitlePermaLinkSpaces" checked="@Model.SiteConfig.EnableTitlePermaLinkSpaces" type="checkbox" class="dasblog-form-check-input" />
</div>

<div class="dasblog-form-group row">
    <label asp-for="@Model.SiteConfig.TitlePermalinkSpaceReplacement" class="dasblog-col-form-label col-3"></label>
   

    @Html.DropDownListFor(n => n.SiteConfig.TitlePermalinkSpaceReplacement,
        new SelectList(new SpaceReplacementViewModel().Init(), "Name", "Name"), 
        new { @class = "form-control col-1" })


    <span asp-validation-for="@Model.SiteConfig.TitlePermalinkSpaceReplacement" class="text-danger" data-valmsg-for="TitlePermalinkSpaceReplacement" data-valmsg-replace="true"></span>
</div>

<h3>Internal</h3>

<div class="dasblog-form-group row">
    <label asp-for="@Model.SiteConfig.ContentDir" class="dasblog-col-form-label col-3"></label>
    <input name="ContentDir" value="@Model.SiteConfig.ContentDir" type="text" class="form-control col-9"
           data-val-email="" data-val-required="The Content Directory field is required." />
    <span asp-validation-for="@Model.SiteConfig.ContentDir" class="text-danger" data-valmsg-for="ContentDir" data-valmsg-replace="true"></span>
</div>

<div class="dasblog-form-group row">
    <label asp-for="@Model.SiteConfig.LogDir" class="dasblog-col-form-label col-3"></label>
    <input name="LogDir" value="@Model.SiteConfig.LogDir" type="text" class="form-control col-9"
           data-val-email="" data-val-required="The Log Directory field is required." />
    <span asp-validation-for="@Model.SiteConfig.LogDir" class="text-danger" data-valmsg-for="LogDir" data-valmsg-replace="true"></span>
</div>

<div class="dasblog-form-check row">
    <label asp-for="@Model.SiteConfig.AdjustDisplayTimeZone" class="dasblog-form-check-label col-3"></label>
    <input name="AdjustDisplayTimeZone" checked="@Model.SiteConfig.AdjustDisplayTimeZone"
           type="checkbox" class="dasblog-form-check-input" maxlength="5" />
</div>

<div class="dasblog-form-group row">
    <label asp-for="@Model.SiteConfig.DisplayTimeZoneIndex" class="dasblog-col-form-label col-3"></label>

    @Html.DropDownListFor(n => n.SiteConfig.DisplayTimeZoneIndex,
        new SelectList(new TimeZoneIndexViewModel().Init(), "Id", "Name"),
        new { @class = "form-control col-3" })

    <span asp-validation-for="@Model.SiteConfig.DisplayTimeZoneIndex" class="text-danger" data-valmsg-for="DisplayTimeZoneIndex" data-valmsg-replace="true"></span>
</div>


@Html.HiddenFor(@m => m.SiteConfig.CategoryAllEntries)

@Html.HiddenFor(@m => m.SiteConfig.EntryTitleAsLink)
@Html.HiddenFor(@m => m.SiteConfig.ObfuscateEmail)

@Html.HiddenFor(@m => m.SiteConfig.BinariesDir)
@Html.HiddenFor(@m => m.SiteConfig.CommentsAllowHtml)
@Html.HiddenFor(@m => m.SiteConfig.SendReferralsByEmail)
@Html.HiddenFor(@m => m.SiteConfig.SendTrackbacksByEmail)
@Html.HiddenFor(@m => m.SiteConfig.SendPingbacksByEmail)
@Html.HiddenFor(@m => m.SiteConfig.SendPostsByEmail)
@Html.HiddenFor(@m => m.SiteConfig.EnableCommentApi)
@Html.HiddenFor(@m => m.SiteConfig.EnableConfigEditService)
@Html.HiddenFor(@m => m.SiteConfig.EnableEditService)
@Html.HiddenFor(@m => m.SiteConfig.EnableAutoPingback)

@Html.HiddenFor(@m => m.SiteConfig.ShowCommentCount)
@Html.HiddenFor(@m => m.SiteConfig.EnableTrackbackService)
@Html.HiddenFor(@m => m.SiteConfig.EnablePingbackService)

@Html.HiddenFor(@m => m.SiteConfig.EnableBlogrollDescription)
@Html.HiddenFor(@m => m.SiteConfig.EnableUrlRewriting)
@Html.HiddenFor(@m => m.SiteConfig.EnableCrossposts)

@Html.HiddenFor(@m => m.SiteConfig.UseUserCulture)
@Html.HiddenFor(@m => m.SiteConfig.ExtensionlessUrls)
@Html.HiddenFor(@m => m.SiteConfig.EnableAggregatorBugging)

@Html.HiddenFor(@m => m.SiteConfig.EnableClickThrough)
@Html.HiddenFor(@m => m.SiteConfig.SendCommentsByEmail)
@Html.HiddenFor(@m => m.SiteConfig.SmtpServer)

@Html.HiddenFor(@m => m.SiteConfig.EnablePop3)
@Html.HiddenFor(@m => m.SiteConfig.Pop3InlineAttachedPictures)
@Html.HiddenFor(@m => m.SiteConfig.Pop3InlinedAttachedPicturesThumbHeight)

@Html.HiddenFor(@m => m.SiteConfig.ApplyContentFiltersToWeb)
@Html.HiddenFor(@m => m.SiteConfig.ApplyContentFiltersToRSS)
@Html.HiddenFor(@m => m.SiteConfig.EnableXSSUpstream)

@Html.HiddenFor(@m => m.SiteConfig.XSSUpstreamEndpoint)
@Html.HiddenFor(@m => m.SiteConfig.XSSUpstreamUsername)
@Html.HiddenFor(@m => m.SiteConfig.XSSUpstreamPassword)

@Html.HiddenFor(@m => m.SiteConfig.XSSRSSFilename)
@Html.HiddenFor(@m => m.SiteConfig.XSSUpstreamInterval)

@Html.HiddenFor(@m => m.SiteConfig.Pop3DeleteAllMessages)
@Html.HiddenFor(@m => m.SiteConfig.Pop3LogIgnoredEmails)
@Html.HiddenFor(@m => m.SiteConfig.EnableReferralUrlBlackList)

@Html.HiddenFor(@m => m.SiteConfig.ReferralUrlBlackList)
@Html.HiddenFor(@m => m.SiteConfig.EnableCaptcha)
@Html.HiddenFor(@m => m.SiteConfig.EnableReferralUrlBlackList404s)

@Html.HiddenFor(@m => m.SiteConfig.EnableMovableTypeBlackList)
@Html.HiddenFor(@m => m.SiteConfig.EnableCrossPostFooter)
@Html.HiddenFor(@m => m.SiteConfig.EncryptLoginPassword)

@Html.HiddenFor(@m => m.SiteConfig.EnableSmtpAuthentication)
@Html.HiddenFor(@m => m.SiteConfig.SmtpUserName)
@Html.HiddenFor(@m => m.SiteConfig.SmtpPassword)

@Html.HiddenFor(@m => m.SiteConfig.SmtpPort)
@Html.HiddenFor(@m => m.SiteConfig.RssLanguage)
@Html.HiddenFor(@m => m.SiteConfig.EnableSearchHighlight)

@Html.HiddenFor(@m => m.SiteConfig.EnableEntryReferrals)
@Html.HiddenFor(@m => m.SiteConfig.FeedBurnerName)
@Html.HiddenFor(@m => m.SiteConfig.SupressEmailAddressDisplay)

@Html.HiddenFor(@m => m.SiteConfig.LogBlockedReferrals)
@Html.HiddenFor(@m => m.SiteConfig.UseFeedSchemeForSyndication)
@Html.HiddenFor(@m => m.SiteConfig.EnableAutoSave)

@Html.HiddenFor(@m => m.SiteConfig.CommentsAllowGravatar)
@Html.HiddenFor(@m => m.SiteConfig.CommentsGravatarNoImgPath)
@Html.HiddenFor(@m => m.SiteConfig.CommentsGravatarSize)

@Html.HiddenFor(@m => m.SiteConfig.CommentsGravatarBorder)
@Html.HiddenFor(@m => m.SiteConfig.CommentsGravatarRating)
@Html.HiddenFor(@m => m.SiteConfig.EnableCoComment)

@Html.HiddenFor(@m => m.SiteConfig.EnableSpamBlockingService)
@Html.HiddenFor(@m => m.SiteConfig.SpamBlockingServiceApiKey)
@Html.HiddenFor(@m => m.SiteConfig.EnableSpamModeration)

@Html.HiddenFor(@m => m.SiteConfig.EnableDailyReportEmail)
@Html.HiddenFor(@m => m.SiteConfig.UseSSLForSMTP)
@Html.HiddenFor(@m => m.SiteConfig.EnableGoogleMaps)
@Html.HiddenFor(@m => m.SiteConfig.GoogleMapsApiKey)

@Html.HiddenFor(@m => m.SiteConfig.EnableGeoRss)
@Html.HiddenFor(@m => m.SiteConfig.DefaultLatitude)
@Html.HiddenFor(@m => m.SiteConfig.DefaultLongitude)

@Html.HiddenFor(@m => m.SiteConfig.EnableDefaultLatLongForNonGeoCodedPosts)
@Html.HiddenFor(@m => m.SiteConfig.HtmlTidyContent)
@Html.HiddenFor(@m => m.SiteConfig.ResolveCommenterIP)

@Html.HiddenFor(@m => m.SiteConfig.AllowOpenIdComments)
@Html.HiddenFor(@m => m.SiteConfig.AllowOpenIdAdmin)
@Html.HiddenFor(@m => m.SiteConfig.BypassSpamOpenIdComment)

@Html.HiddenFor(@m => m.SiteConfig.AMPPagesEnabled)
@Html.HiddenFor(@m => m.SiteConfig.RSSEndPointRewrite)


@Html.HiddenFor(@m => m.MetaConfig.FaceBookAdmins)
@Html.HiddenFor(@m => m.MetaConfig.FaceBookAppID)

