@model PostViewModel

@{
    ViewData["Title"] = @Model.Title;
}

<div class="post">
    <div class="row post-title">
        <div class="col-md-4 mb-2">
            <h2><title-link post=@Model>somecss</title-link></h2>
        </div>
    </div>

    <div class="row post-body">
        <div class="col-md-4 mb-2">
            @Html.Raw(@Model.Description)
        </div>
    </div>
    <div class="row post-footer">
        <div class="col-md-4 mb-2">
            <categories-list categories=@Model.Categories> </categories-list>
            <comment-post post="@Model"></comment-post>
        </div>
        <div class="col-md-4 mb-2">
            @Model.CreatedDateTime.ToString("MMMM dd, yyyy")
        </div>
        <div class="col-md-4 mb-2">
            <post-to-twitter post="@Model">Share on Twitter</post-to-twitter>
        </div>
        <div dasblog-authorized class="col-md-4 mb-2">
            <edit-post blog-post-id="@Model.EntryId"></edit-post>
            <span style="display:inline-block; width: 1em;"></span>
            <delete-post blog-post-id="@Model.EntryId" blog-title="@Model.Title"></delete-post>
        </div>
    </div>
    @await Html.PartialAsync("_CommentBlockPartial", @Model.Comments)
</div>
<hr />