@using DasBlog.Services;
@using DasBlog.Core.Common
@inject IDasBlogSettings dasBlogSettings

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["PageTitle"]</title>
    <meta name="description" content="@ViewData["Description"]" />
    <meta name="keywords" content="@ViewData["Keywords"]" />
    <meta name="author" content="@ViewData["Author"]" />

    <meta name="copyright" content="@dasBlogSettings.SiteConfiguration.Copyright" />

    <base href="@dasBlogSettings.SiteConfiguration.Root">
    <link href="@ViewData["Canonical"]" rel="canonical">
    <link rel="alternate" type="application/rss+xml" title="@dasBlogSettings.SiteConfiguration.Description" href="@dasBlogSettings.RssUrl" />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="@dasBlogSettings.RsdUrl" />
    <link rel="microsummary" type="application/x.microsummary+xml" href="@dasBlogSettings.MicroSummaryUrl" />

    <link rel="shortcut icon" href="@dasBlogSettings.ShortCutIconUrl" />

    @await Html.PartialAsync("_TwitterCardPartial")
    @await Html.PartialAsync("_OpenGraphPartial")
    @await Html.PartialAsync("_BlogPostingSchemaOrgPartial")

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </environment>

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="@dasBlogSettings.ThemeCssUrl" />

</head>

<body>

    <div class="container">
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 pt-1">
                    <a class="text-muted" asp-area="" asp-controller="feed" asp-action="rss">Subscribe</a>
                </div>
                <div class="col-4 text-center">
                    <a class="blog-header-logo text-dark" href="@dasBlogSettings.SiteConfiguration.Root"><site-title /></a>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center">
                    <a dasblog-unauthorized class="btn btn-sm btn-outline-secondary" asp-controller="account" asp-action="login">Log in</a>
                    <a dasblog-authorized class="btn btn-sm btn-outline-secondary" asp-controller="account" asp-action="logout">Log out</a>
                </div>
            </div>
        </header>

        <div class="nav-scroller py-1 mb-2">
            <nav class="nav d-flex justify-content-between">
                <a class="p-2 text-muted" asp-area="" asp-controller="home" asp-action="index">Home</a>
                <a class="p-2 text-muted" asp-area="" asp-controller="category" asp-action="category">Category</a>
                <a class="p-2 text-muted" asp-area="" asp-controller="archive" asp-action="archive">Archive</a>
                <a dasblog-authorized class="p-2 text-muted" asp-area="" asp-controller="post" asp-action="create">Create Post</a>
                <a dasblog-authorized class="p-2 text-muted" asp-area="" asp-controller="users" asp-action="index">Users</a>
                <a dasblog-authorized class="p-2 text-muted" asp-area="" asp-controller="Activity" asp-action="ActivityList">Activity</a>
            </nav>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <footer>
            <div class="col-12 text-center">
                &copy; @DateTime.Now.Year - @dasBlogSettings.SiteConfiguration.Copyright
            </div>
            <div class="col-12 text-center">
                Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@@mdo</a>.
            </div>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.3.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
