@using DasBlog.Core.Common;
@model DasBlog.Web.Models.BlogViewModels.PostViewModel

<div class="form-group">
    <div class="col-6">
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
</div>

<div class="row gy-2 gx-3 align-items-md-start mb-3">
    <div class="col-sm-4">
        <div class="form-floating">
            <input id="BlogTitle" asp-for="Title" class="form-control" />
            <label asp-for="Title" class="form-label"></label>
        </div>
        @Html.ValidationMessageFor(m => m.Title, null, new { @class = "text-danger" })
    </div>
    <div class="col-sm-3">
        <div class="form-floating">
            <input asp-for="CreatedDateTime" class="form-control" />
            <label asp-for="CreatedDateTime" class="form-label"></label>
        </div>
        @Html.ValidationMessageFor(m => m.CreatedDateTime, null, new { @class = "text-danger" })
    </div>
</div>

<div class="row gy-2 gx-3 align-items-md-start mb-3">
    <div class="col-sm-12">
        <label asp-for="Content" class="form-label"></label>
        <rich-edit name="content" id="mytextarea">@Model.Content</rich-edit>
    </div>
</div>

<div class="row gy-2 gx-3 align-items-md-start mb-3">
    <div class="col-sm-6">
        <div class="form-floating">
            <input type="file" name="Image" accept="image/jpeg,image/gif,image/png" class="btn btn-default" />
            <input type="submit" name="submit" value="@Constants.UploadImageAction" class="btn btn-default"/>
        </div>
    </div>
</div>

<div class="row gy-2 gx-3 align-items-md-start mb-3">
    <div class="col-sm-12">
        <div class="form-floating">
            <textarea id="blogdescription" asp-for="Description" class="form-control rounded-0" rows="3"></textarea>
            <label asp-for="Description" class="form-label"></label>
        </div>
    </div>
</div>

<label asp-for="Categories" class="form-label"></label>

<div class="d-flex flex-wrap mb-3">
    @if (Model != null && Model.AllCategories != null)
    {
        for (int i = 0; i < Model.AllCategories.Count; i++)
        {
            <div class="col-auto">
                @Html.CheckBoxFor(m => m.AllCategories[i].Checked, new { @class = "form-check-input me-1" })
                <label class="me-3">@Model.AllCategories[i].Category</label>
            </div>

            <input asp-for="@Model.AllCategories[i].Category" type="hidden"/>
            <input asp-for="@Model.AllCategories[i].CategoryUrl" type="hidden"/>
        }
    }

    <input asp-for="@Model.NewCategory" type="text" id="BlogNewCategoryName" class="me-2"/>
    <input value="Add" class="btn btn-outline-secondary" type="submit" name="submit" id="NewCategorySubmit"/>
    
    <span asp-validation-for="@Model.NewCategory" class="text-danger"></span>
</div>

<div class="d-flex flex-wrap mb-3">
    <div class="col-auto">
        @Html.CheckBoxFor(m => @Model.AllowComments, new { @class = "form-check-input me-1" })
        @Html.LabelFor(m => @Model.AllowComments, null, new { @class = "form-check-label me-2" })
    </div>
    <div class="col-auto">
        @Html.CheckBoxFor(m => @Model.IsPublic, new { @class = "form-check-input me-1" })
        @Html.LabelFor(m => @Model.IsPublic, null, new { @class = "form-check-label me-2" })
    </div>
    <div class="col-auto">
        @Html.CheckBoxFor(m => @Model.Syndicated, new { @class = "form-check-input me-1" })
        @Html.LabelFor(m => @Model.Syndicated, null, new { @class = "form-check-label me-2" })
    </div>
</div>

<div class="row gy-2 gx-3 align-items-md-start mb-3">
    <div class="col-sm-6">
        <div class="form-floating">
            <select asp-for="Language" class="form-control" asp-items="Model.Languages"></select>
           <label asp-for="Language" class="control-label"></label>
        </div>
    </div>
</div>