@using DasBlog.Core.Common;
@model DasBlog.Web.Models.BlogViewModels.PostViewModel

<div class="form-group">
    <div class="col-6">
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
</div>
<div class="form-group row">
    <label asp-for="Title" class="col-2 col-form-label"></label>
    <div class="col-9">
        <input id="BlogTitle" asp-for="Title" class="form-control"/>
    </div>
</div>
<div class="form-group row">
    <label asp-for="CreatedDateTime" class="col-2 col-form-label"></label>
    <div class="col-9">
        <input asp-for="CreatedDateTime" class="form-control"/>
    </div>
</div>
<div class="form-group row">
    <label asp-for="Content" class="col-2 col-form-label"></label>
    <div class="col-9">
        <rich-edit name="content" id="mytextarea">@Model.Content</rich-edit>
    </div>
</div>
<div class="form-group row">
    <label asp-for="Description" class="col-2 col-form-label"></label>
    <div class="col-9">
        <textarea id="blogdescription" asp-for="Description" class="form-control rounded-0" rows="3"></textarea>
    </div>
</div>
<div class="row">
    <div class="offset-2 dbc-blogpost-fields-allignment-compatibility">
        <label>Allow Comments
            <span>
                <input id="AllowComments" name="AllowComments" type="checkbox" value="true" checked="@Model.AllowComments"/>
            </span>
            <span style="display: inline-block; width: 1em;"></span>
        </label>
        <input name="AllowComments" type="hidden" value="false"/>
        <label>Is Public
            <span>
                <input id="IsPublic" name="IsPublic" type="checkbox" value="true" checked="@Model.IsPublic"/>
            </span>
            <span style="display: inline-block; width: 1em;"></span>
        </label>
        <input name="IsPublic" type="hidden" value="false"/>
        <label>Syndicated
            <span>
                <input id="Syndicated" name="Syndicated" type="checkbox" value="true" checked="@Model.Syndicated"/>
            </span>
            <span style="display: inline-block; width: 1em;"></span>
        </label>
        <input name="Syndicated" type="hidden" value="false"/>
    </div>
</div>
<div class="form-group row">
    <label asp-for="Categories" class="col-2 col-form-label"></label>
    <div class="col-10">
        @if (Model != null && Model.AllCategories != null)
        {
            for (int i = 0; i < Model.AllCategories.Count; i++)
            {
                
                <label asp-for="@Model.AllCategories[i].Category">@Model.AllCategories[i].Category
                    <span>
                        <input asp-for="@Model.AllCategories[i].Checked" type="checkbox"/>
                    </span>
                    <span style="display: inline-block; width: 1em;"></span>
                </label>
                <input asp-for="@Model.AllCategories[i].Category" type="hidden"/>
                <input asp-for="@Model.AllCategories[i].CategoryUrl" type="hidden"/>
            }
        }
        <input asp-for="@Model.NewCategory" type="text" id="BlogNewCategoryName"/>
        <input value="Add" class="btn" type="submit" name="submit" id="NewCategorySubmit"/>
    </div>
</div>
<div class="col-3 offset-3 ">
    <span asp-validation-for="@Model.NewCategory" class="text-danger"></span>
</div>
<div class="col-2">
    <input type="file" name="Image" accept="image/jpeg,image/gif,image/png"/>
    <input type="submit" name="submit" value="@Constants.UploadImageAction" class="btn"/>
</div>
<div class="form-group row">
    <label asp-for="Language" class="col-2 control-label"></label>
    <select asp-for="Language" class="col-6" asp-items="Model.Languages"></select>
</div>
