@model DasBlog.Web.Models.BlogViewModels.PostViewModel
@using DasBlog.Core.Common

@{
    ViewBag.Title = "Edit";
    Layout = "../../Themes/dasblog/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="post" asp-action="edit" method="post" enctype="multipart/form-data">
    <ul class="nav">
      <li class="nav-item">
        <input class="btn btn-default btn-primary btn-lg" type="submit" name="submit" value="Save" id="BlogPostEditSubmit" />
      </li>
      <li class="nav-item">
        <a class="nav-link" href="@Model.PermaLink">Navigate to permalink</a>
      </li>
    </ul>

    <hr />

    <div class="modal-body">
        <partial name="BlogPostFields" model="Model" />

        <hr />

        <div class="form-group">
            <div class="col-lg-6">
                <input class="btn btn-default btn-primary  btn-lg" type="submit" name="submit" value="Save" id="BlogPostEditSubmit" />
                <input class="btn btn-default btn-secondary btn-lg" asp-controller="Home" asp-action="Index" type="submit" name="submit" value="Cancel" />
            </div>
        </div>
    </div>

    @Html.HiddenFor(m => m.EntryId)
    @Html.HiddenFor(m => m.Author)
    @Html.HiddenFor(m => m.CreatedDateTime)

</form>

@section Scripts {
    <rich-edit-scripts control-id="mytextarea" />

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
