@model DasBlog.Web.Models.BlogViewModels.PostViewModel
@using DasBlog.Core.Common

@{
    ViewBag.Title = "Edit";
    Layout = "../../Themes/dasblog/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="post" asp-action="edit" method="post" enctype="multipart/form-data">

    <div class="row gy-2 gx-3 align-items-md-start mb-2">
        <div class="col-sm-12">
            <input class="btn btn-outline-primary me-2" type="submit" name="submit" value="Save" id="BlogPostEditSubmit" />
            <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="@Model.PermaLink">View your post</a>
        </div>
    </div>

    <hr />

    <partial name="BlogPostFields" model="Model" />

    <hr />
    <div class="d-flex flex-wrap">
        <input class="btn btn-default btn-primary me-2" type="submit" name="submit" value="Save" id="BlogPostEditSubmit" />
        <input class="btn btn-default btn-secondary me-2" asp-controller="Home" asp-action="Index" type="submit" name="submit" value="Cancel" />
    </div>


    @Html.HiddenFor(m => m.EntryId)
    @Html.HiddenFor(m => m.Author)
    @Html.HiddenFor(m => m.CreatedDateTime)

</form>

@section Scripts {
    <rich-edit-scripts control-id="mytextarea" />

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
